﻿@page "/home/dashboard"

@using Client.Pages.ControlPage.UserPage
@using Client.Pages.ControlPage

@layout MainLayout
<TableBanner />
<GeneralDepartmentpage />
<DepartmentPage />
<BranchPage/>
<CountryPage />
<CityPage/>
<TownPage/>
<Userpage/>
<DoctorPage />
<OverTimePage />
<OvertimeTypePage />
<VacationPage />
<VacationTypePage />
<SanctionPage />
<SanctionTypePage />
<EmployeePage/> 

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (!isUserAuthenticated)
        NavManager.NavigateTo("identity/account/login");
        
    }
}
