﻿@page "/nav"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject AllState allState




<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
       <a class="navbar-brand" href="/home/dashboard">
           <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Home
               </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView Roles="Admin">
        <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowAdminMenuContainer" style="cursor:pointer" href="javascript:void()">
                        <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top:-1.5rem"></span>
                        <span> Administration </span>
                    </NavLink>
                    <a class="nav-link p-2 text-white" style="margin-left:5rem; visibility:@CssStyle">
                        <div class="hstack" @onclick="UserClicked">
                            <span class="bi bi-people fs-5 text-center" aria-hidden="true" style="margin-top:-1.5rem"></span>
                            <span>User</span>
                        </div>
                    </a>
                </div>
        </Authorized>
        </AuthorizeView>
              @* <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="counter">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                    </NavLink>
                </div> *@
               @*  <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                    </NavLink>
                </div>  *@
                <div class="nav-item px-3" style="margin-top:@DepartmentMargin">
                    <NavLink class="nav-link p-2" @onclick="ShowDepartmentContainer" style="cursor:pointer" href="javascript:void()">
                        <div class="hstack gap-1">
                            <span class="bi bi-backpack4-fill fs-3 text-center" aria-hidden="true" style="margin-top:-1.5rem"></span>
                        <span> Management </span>
                        </div>
                    </NavLink>

                    <div class="nav-link p-2 text-white" style="margin-left:3rem; visibility:@DepartmentStyle">
                        <ul class="list-group">
                            <li style="list-style:none" class="cusorStyle">
                                <a class="nav-link p-2" @onclick="GeneralDerpartmentClicked">
                                    
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-file-medical fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">General Dep</span>
                                    </div>
                                </a>
                            </li>

                            <li style="list-style:none" class="cusorStyle">
                                <a class="nav-link p-2" @onclick="DerpartmentClicked">
                                    <div class="hstack">
                                        <span class="bi bi-substack fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Department</span>
                                    </div>
                                </a>
                            </li>

                            <li style="list-style:none" class="cusorStyle">
                                <a class="nav-link p-2" @onclick="BranchClicked">
                                    <div class="hstack">
                                        <span class="bi bi-chevron-bar-contract fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Branch</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none">
                                <hr/>
                            </li>

                            <li style="list-style:none" class="cusorStyle">
                                <a class="nav-link p-2" @onclick="CountryClicked">
                                    <div class="hstack">
                                        <span class="bi bi-geo-alt fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Country</span>
                                    </div>
                                </a>
                            </li>

                            <li style="list-style:none" class="cusorStyle">
                                <a class="nav-link p-2" @onclick="CityClicked">
                                    <div class="hstack">
                                        <span class="bi bi-pin-map-fill fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">City</span>
                                    </div>
                                </a>
                            </li>

                            <li style="list-style:none" class="cusorStyle">
                                <a class="nav-link p-2" @onclick="TownClicked">
                                    <div class="hstack">
                                        <span class="bi bi-geo fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Town</span>
                                    </div>
                                </a>
                            </li>
                    <li style="list-style:none">
                        <hr />
                    </li>

                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2" @onclick="OVerTimeClicked">
                            <div class="hstack">
                                <span class="bi bi-stopwatch fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                <span class="fs-6">OverTime</span>
                            </div>
                        </a>
                    </li>

                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2" @onclick="SanctionClicked">
                            <div class="hstack">
                                <span class="bi bi-x-octagon fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                <span class="fs-6">SAnction</span>
                            </div>
                        </a>
                    </li>

                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2" @onclick="VacationClicked">
                            <div class="hstack">
                                <span class="bi bi-backpack fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                <span class="fs-6">Vacation</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <hr />
                    </li>

                            <li style="list-style:none" class="cusorStyle">
                                <a class="nav-link p-2" @onclick="EmployeeClicked">
                                    <div class="hstack">
                                        <span class="bi bi-substack fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Employee</span>
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </div>
                    
                </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="/home/dashboard" @onclick="EmployeeClicked">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>







<style>
    .cusorStyle{
        cursor:pointer;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public string DepartmentMargin { get; set; } = "-3.5rem";
    public string CssStyle = "hidden";

    public bool ShowHide { get; set; } = false;

    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        if (ShowHide)
        {
            DepartmentMargin = "0";
            CssStyle = "visible";
        }
        else
        {
            DepartmentMargin = "-3.5rem";
            CssStyle = "hidden";
        }
    }



    private string DepartmentStyle = "hidden";
    public bool ShowHideDepartment { get; set; } = false;

    private void ShowDepartmentContainer()
    {
        ShowHideDepartment = !ShowHideDepartment;
        if (ShowHideDepartment)
            DepartmentStyle = "visible";
        else
            DepartmentStyle = "hidden";
    }

    public void GeneralDerpartmentClicked()
    {
        allState.GeneralDepartmentClicked();
    }
    public void DerpartmentClicked()
    {
        allState.DepartmentClicked();
    }
    

    public void BranchClicked()
    {
        allState.BranchClicked();
    }

    public void CountryClicked()
    {
        allState.CountryClicked();
    }
    public void CityClicked()
    {
        allState.CityClicked();
    }
    public void TownClicked()
    {
        allState.TownClicked();
    }
    public void OVerTimeClicked()
    {
        allState.OverTimeClicked();
    }
    public void VacationClicked()
    {
        allState.VacationClicked();
    }
    public void SanctionClicked()
    {
        allState.SanctionClicked();
    }
    
   
    public void HealthClicked()
    {
        allState.HealthClicked();
    }
    public void UserClicked()
    {
        allState.UserClicked();
    }


    
    public void EmployeeClicked()
    {
        allState.EmployeeClicked();
    }
    
}
 