﻿@using System.Net.Http
@using System.Net.Http.Json
@using BaseLibrary.Entities
@using BaseLibrary.Entities.Leave
@using Client.ApplicationStates
@using ClientLibrary.Services.Contracts
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using Microsoft.JSInterop
@using Client.Layout
@using Client



@using ClientLibrary.Services.Contracts
@using BaseLibrary.Dto
@using ClientLibrary.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Popups
@using ClientLibrary.Helpers

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Client.Pages.ControlPage.DepartmentPages
@using Client.Pages.ControlPage.LocationPage
@using Client.Pages.ControlPage.Employeepage
@using BaseLibrary.Entities.Help
@using Client.Pages.ControlPage.Doctors
@using Client.Pages.ControlPage.Doctors.Type
@using Client.Pages.ControlPage.Doctors.Vacations
@using Client.Pages.ControlPage.Doctors.sanctions


@using Microsoft.JSInterop

@* @using Client.Pages.ControlPage.EmployeePages *@
@using Client.Pages.Otherpages

@inject SfDialogService DialogServices
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
 


@* Navbar tabs communication state handling *@
@inject AllState allState


@* Authentication *@
@inject IUserAccountServices accountService

@* GeneralDepartment/ Department / Branch *@
@inject IGenericServiceInterface<GeneralDepartment> generalDepartmentService
@inject IGenericServiceInterface<Branch> branchService
@inject IGenericServiceInterface<Department> departmentService


@* County//city//Town *@
@inject IGenericServiceInterface<Country> countryService
@inject IGenericServiceInterface<City> cityService
@inject IGenericServiceInterface<Town> townService

@* overtime//sanction//vacation //doctor*@
@inject IGenericServiceInterface<OverTime> overTimeService
@inject IGenericServiceInterface<OvertimeType> overtimeTypeService
@inject IGenericServiceInterface<Vacation> vacationService
@inject IGenericServiceInterface<VacationType> vacationTypeService
@inject IGenericServiceInterface<Sanction> sanctionService
@inject IGenericServiceInterface<SanctionType> sanctionTypeService
@inject IGenericServiceInterface<Doctor> doctorService





@* Employee *@
@inject IGenericServiceInterface<Employee> employeeService





