﻿<SfDialog Width="100px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenContextMenu"></DialogEvents>
    <DialogTemplates>
        <Header>Management Menu</Header>
        <Content>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="ViewClicked">
                <i class="bi bi-eye text-info"></i>
                <span id="cursorStyle" class="text-info">View</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="Edited">
                <i class="bi bi-pencil text-primary"></i>
                <span id="cursorStyle" class="text-primary" >Edit</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="Deleted">
                <i class="bi bi-trash text-danger"></i>
                <span id="cursorStyle" class="text-danger">Delete</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="AddVacationClicked">
                <i class="bi bi-eye text-success"></i>
                <span id="cursorStyle" class="text-success">Add Vacation</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="AddOverTimeClicked">
                <i class="bi bi-eye text-danger"></i>
                <span id="cursorStyle" class="text-danger">Add OverTime</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="AddHealthClicked">
                <i class="bi bi-hospital text-warning"></i>
                <span id="cursorStyle" class="text-warning">Add Health</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="ViewSanctionClicked">
                <i class="bi bi-eye text-info"></i>
                <span id="cursorStyle" class="text-info">Add Sanction</span>
            </div>

        </Content>
    </DialogTemplates>
</SfDialog>
<style>
    #cursorStyle {
        cursor: pointer;
    }
</style>

@code
{
    SfDialog? openDialog;
    private bool IsVisible { get; set; } = false;

    //handle clicked event
    [Parameter] public EventCallback HandleViewClicked{ get; set; }
    private async Task ViewClicked() => await HandleViewClicked.InvokeAsync();

    [Parameter] public EventCallback HandleEditClicked { get; set; }
    private async Task Edited() => await HandleEditClicked.InvokeAsync();

    [Parameter] public EventCallback HandleDeleteClicked { get; set; }
    private async Task Deleted() => await HandleDeleteClicked.InvokeAsync();

    [Parameter] public EventCallback HandleVacationClicked { get; set; }
    private async Task AddVacationClicked() => await HandleVacationClicked.InvokeAsync();

    [Parameter] public EventCallback HandleOverTimeClicked{ get; set; }
    private async Task AddOverTimeClicked() => await HandleOverTimeClicked.InvokeAsync();

    [Parameter] public EventCallback HandleHealthClicked { get; set; }
    private async Task AddHealthClicked() => await HandleHealthClicked.InvokeAsync();

    [Parameter] public EventCallback HandleSanctionClicked { get; set; }
    private async Task ViewSanctionClicked() => await HandleSanctionClicked.InvokeAsync();



    //open OpenContextMenu
    public void OpenContextMenu()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void CloseContextMenu()
    {
        IsVisible = false;
        StateHasChanged();
    }
}
