﻿
@if (ShowDetailsPage)
{

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card bordor-success shodow-lg">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between" >

                            <div class="image " id="image">
                                <img src="@EmployeeDetail.Photo" alt="@EmployeeDetail.Name" class="circular-image" />
                            </div>

                            <div ><h2>@EmployeeDetail.Name Details</h2></div>
                            <i class="bi bi-x-lg fs-3 fw-bold text-danger" style="cursor:pointer" @onclick="DetailsPageCloseBtnClicked"></i>

                        </div>
                        
                    </div>

                    
                    
                    <div class="card-body">
                        <div class="hstack gap-2">
                                
                                @* <img src="@EmployeeDetail.Photo" class="card-img-top border-warning shodow-sm" style="width:50px; height:50px; " border-radius:50% /> *@
                            

                                <table class="table border-danger">
                                    <tbody>
                                    <tr>
                                        <td colspan="2" class="text-center"> <h6 class="fw-bold">Personal Information</h6></td>
                                    </tr>
                                        @* Name *@
                                        <tr>
                                            <td><h6 class="fw-bold">Name :</h6></td>
                                            <td>@EmployeeDetail.Name</td>
                                        </tr>

                                        @* job *@
                                        <tr>
                                            <td><h6 class="fw-bold">Job Title :</h6></td>
                                            <td>@EmployeeDetail.JobName</td>
                                        </tr>
                                        @* TelePhone *@
                                        <tr>
                                            <td><h6 class="fw-bold">TelePhone Number :</h6></td>
                                            <td>@EmployeeDetail.TelephoneNumber</td>
                                        </tr>
                                        @* Address *@
                                        <tr>
                                            <td><h6 class="fw-bold">Address :</h6></td>
                                            <td>@EmployeeDetail.Address</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            
                            <table class="table border-primary">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="text-center"> <h6 class="fw-bold">Department Information</h6></td>
                                    </tr>
                                    @* General Department *@
                                    <tr>
                                        <td><h6 class="fw-bold">General Department :</h6></td>
                                        <td>@EmployeeDetail.Branch.Department.GeneralDepartment.Name</td>
                                    </tr>

                                    @*  Department *@
                                    <tr>
                                        <td><h6 class="fw-bold"> Department :</h6></td>
                                        <td>@EmployeeDetail.Branch.Department.Name</td>
                                    </tr>
                                    @* Branch*@
                                    <tr>
                                        <td><h6 class="fw-bold">Branch :</h6></td>
                                        <td>@EmployeeDetail.Branch.Name</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table border-success">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="text-center"> <h6 class="fw-bold">Location Information</h6></td>
                                    </tr>
                                    @* Country *@
                                    <tr>
                                        <td><h6 class="fw-bold">General Department :</h6></td>
                                        <td>@EmployeeDetail.Town.City.Country.Name</td>
                                    </tr>

                                    @*  city *@
                                    <tr>
                                        <td><h6 class="fw-bold"> Department :</h6></td>
                                        <td>@EmployeeDetail.Town.City.Name</td>
                                    </tr>
                                    @* town*@
                                    <tr>
                                        <td><h6 class="fw-bold">Branch :</h6></td>
                                        <td>@EmployeeDetail.Town.Name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}


<style>
    
    .circular-image {
        border-radius: 50%; /* Make the image circular */
        width: 50px; /* Set the width to 50px */
        height: 50px; /* Set the height to 50px */
        object-fit: cover; /* Make sure the image fits the circle */
    }

    h2 {
        margin: 0; /* Remove default margin for the heading */
        font-size: 1.5rem; /* Adjust heading size as needed */
    }

    .bi-x-lg {
        margin-left: 20px; /* Add space between the text and the close button */
    }

</style>


@code
{
    [Parameter] public bool ShowDetailsPage{ get; set; }
    [Parameter]public Employee EmployeeDetail { get; set; }=new();
    [Parameter] public EventCallback HandleDetailsPageCloseBtnClicked { get; set; }
    async Task DetailsPageCloseBtnClicked() => await HandleDetailsPageCloseBtnClicked.InvokeAsync();
}