﻿@implements IDisposable

@if (allState.ShowEmployee)
{
    if (ShowAddprUpdateEmployee)
    {
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-1 text-center">
                    <i class="bi bi-x-lg fs-3 fw-bold text-danger" style="cursor:pointer" @onclick="Closeform"></i>
                </div>
                <div class="col-lg-6 text-center"><h2>@title Employee</h2></div>
            </div>
            
            <div class="row">

                <div class="col-lg-12 mt-2 mb-5 d-flex justify-content-center">
                    <div class="hstack">
                        <div class="col-lg-12 mt-2 mb-5 d-flex justify-content-center">
                            <div class="hstack">
                                @(firstlayer)
                                {
                                <div class="@FloatingNumber1 text-center">1</div>
                                <div class="@Floatingdiv1 format-border"></div>
                                <div class="@FloatingNumber2 text-center">2</div>
                                <div class="@Floatingdiv2 format-border"></div>
                                }
                                @(secondlayer)
                                {
                                <div class="@FloatingNumber1 text-center">1</div>
                                <div class="@Floatingdiv1 format-border"></div>
                                <div class="@FloatingNumber2 text-center">2</div>
                                <div class="@Floatingdiv2 format-border"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Employee form first layer / second layer -->
                <div class="col-lg-12">
                    <div class="container-fluid">
                        @if (firstlayer)
                        {
                            <EditForm Model="employeeGroup1" OnValidSubmit="Form1">
                                <DataAnnotationsValidator />
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-4 mt-2">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Personal Information</div>
                                        <div class="card-body">
                                            <!-- Employee name -->
                                            <div class="form-group">
                                                <div class="form-label">Full Name</div>
                                                <InputText @bind-Value="employeeGroup1.Name" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.Name" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- Employee address -->
                                            <div class="form-group mt-2">
                                                <div class="form-label">Address</div>
                                                <InputText @bind-Value="employeeGroup1.Address" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.Address" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- Employee telephone -->
                                            <div class="form-group mt-2">
                                                <div class="form-label">TelePhone Number</div>
                                                <InputText @bind-Value="employeeGroup1.TelePhoneNumber" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.TelePhoneNumber" class="text-danger"></ValidationMessage>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mt-2">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Other Information</div>
                                        <div class="card-body">
                                            <!-- Employee civilId -->
                                            <div class="form-group">
                                                <label class="form-label">CivilId</label>
                                                <InputText @bind-Value="employeeGroup1.CivilId" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.CivilId" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- Employee file number -->
                                            <div class="form-group mt-2">
                                                <label class="form-label">FileNumber</label>
                                                <InputText @bind-Value="employeeGroup1.FileNumber" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.FileNumber" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- Employee photo -->
                                            <div class="form-group mt-2">
                                                <label class="form-label @(ImageUploadMessage == "" ? "" : "text-danger")">
                                                    @(ImageUploadMessage == "" ? "Upload Image" : ImageUploadMessage)
                                                </label>
                                                <InputFile class="form-control" OnChange="UploadImage"></InputFile>
                                                <ValidationMessage For="()=>employeeGroup1.Photo" class="text-danger"></ValidationMessage>
                                            </div>

                                            <div class="form-group mt-5">
                                                <button class="btn btn-primary float-end mt-4 mb-5" type="submit">
                                                    <i class="bi bi-arrow-right"></i>
                                                    Next
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2"></div>
                                </div>
                            </EditForm>
                        }
                        @if (secondlayer)
                        {
                            <EditForm Model="employeeGroup2" OnValidSubmit="Form2">
                                <DataAnnotationsValidator />
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-4">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Job Information</div>
                                        <div class="card-body">
                                            <!-- Employee job name -->
                                            <div class="form-group">
                                                <div class="form-label">Job Name</div>
                                                <InputText @bind-Value="employeeGroup2.JobName" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup2.JobName" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- General Department -->
                                            <div class="form-group mt-3">
                                                <div class="form-label">General Department</div>
                                                <SfDropDownList TValue="string" TItem="GeneralDepartment" Placeholder="Select General Department" DataSource="GeneralDepartments">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="GeneralDepartment" ValueChange="OnGeneralDepartmentValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>

                                            <!-- Department -->
                                            <div class="form-group mt-3">
                                                <div class="form-label">Department</div>
                                                <SfDropDownList TValue="string" TItem="Department" Placeholder="Select Department" DataSource="Departments">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Department" ValueChange="OnDepartmentValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>

                                            <!-- Branch -->
                                            <div class="form-group mt-3">
                                                <div class="form-label">Branch</div>
                                                <SfDropDownList TValue="string" TItem="Branch" Placeholder="Select Branch" DataSource="Branches">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Branch" ValueChange="OnBranchValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>

                                            <div class="form-group mt-4 mb-5">
                                                <button class="btn btn-primary float-start" type="button" @onclick="PrevClicked">Previous</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Location Information</div>
                                        <div class="card-body">
                                            <!-- Country -->
                                            <div class="form-group mt-3">
                                                <div class="form-label">Country</div>
                                                <SfDropDownList TValue="string" TItem="Country" Placeholder="Select Country" DataSource="Countries">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Country" ValueChange="OnCountryValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>

                                            <!-- City -->
                                            <div class="form-group mt-3">
                                                <div class="form-label">City</div>
                                                <SfDropDownList TValue="string" TItem="City" Placeholder="Select City" DataSource="Cities">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="City" ValueChange="OnCityValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>

                                            <!-- Town -->
                                            <div class="form-group mt-3">
                                                <div class="form-label">Town</div>
                                                <SfDropDownList TValue="string" TItem="Town" Placeholder="Select Town" DataSource="Towns">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Town" ValueChange="OnTownValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-label">Others</div>
                                                <InputText @bind-Value="employeeGroup2.Other" class="form-control"></InputText>
                                            </div>

                                            <div class="form-group mt-4 mb-5">
                                                <button class="btn btn-primary float-end" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2"></div>
                                </div>
                            </EditForm>
                        }
                    </div>
                </div>


            </div>
        </div>
    }
}

<style>
    .floatingDiv {
        width: 500px;
        background: #228ada;
        height: 10px;
    }

    .floatingNumber {
        border-radius: 50%;
        color: white;
        background: #1d1858;
        width: 20px;
        height: 20px;
    }

    .inactive-div {
        width: 500px;
        background: gray;
        height: 10px;
    }

    .inactive-span {
        border-radius: 50%;
        color: white;
        background: gray;
        width: 20;
        height: 20px;
    }

    .format-bordar {
        border-radius: 20px;
    }

</style>

@code {
    [Parameter] public Employee Employee { get; set; } = new();

    [Parameter] public bool ShowAddprUpdateEmployee { get; set; } = true;
    [Parameter] public EmployeeGroup1 employeeGroup1 { get; set; } = new();
    [Parameter] public EmployeeGroup2 employeeGroup2 { get; set; } = new();


    [Parameter] public List<Country> Countries { get; set; } = new();
    [Parameter] public List<City> Cities { get; set; } = new();
    [Parameter] public List<Town> Towns { get; set; } = new();

    [Parameter] public List<GeneralDepartment> GeneralDepartments { get; set; } = new();
    [Parameter] public List<Department> Departments { get; set; } = new();
    [Parameter] public List<Branch> Branches { get; set; } = new();



    string FloatingNumber1 = "floatingNumber";
    string Floatingdiv1 = "floatingDiv";

    string FloatingNumber2 = "inactive-span";
    string Floatingdiv2 = "inactive-div";

    public bool firstlayer { get; set; } = true;
    public bool secondlayer { get; set; } = false;

    public string title { get; set; } = "Add";

    public string Generaldepartment { get; set; } = "";
    public string department { get; set; } = "";
    public string branch { get; set; } = "";
    public string country { get; set; } = "";
    public string city { get; set; } = "";
    public string town { get; set; } = "";





    private void ShowLayer1()
    {
        secondlayer = false;
        firstlayer = true;
    }

    private void ShowLayer2()
    {
        secondlayer = true;
        firstlayer = false;
    }



    private void PrevClicked()
    {
        secondlayer = false;
        firstlayer = true;
    }

    //formClosed
    [Parameter] public EventCallback NotifyParentFormClosdeClicked { get; set; }
    async Task Closeform()
    {
        ShowAddprUpdateEmployee = false;
        await NotifyParentFormClosdeClicked.InvokeAsync();
    }

    //fiel Uplaod
    string ImageUploadMessage = "";
    private async Task UploadImage(InputFileChangeEventArgs e)
    {
        if (e.File.Name.ToLower().Contains(".png"))
        {
            var format = "image/png";
            var resizeImage = await e.File.RequestImageFileAsync(format, 300, 300);
            var buffer = new byte[resizeImage.Size];
            await resizeImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            ImageUploadMessage = "";
            employeeGroup1.Photo = imageData;
            imageData = "";
            return;

        }
        ImageUploadMessage = "PNG File Needed";
        return;

    }

    //form1 Validation

    private bool ValidateEmployeeGroup1()
    {
        if (string.IsNullOrEmpty(employeeGroup1.Name)
        || string.IsNullOrEmpty(employeeGroup1.TelePhoneNumber)
        || string.IsNullOrEmpty(employeeGroup1.FileNumber)
        || string.IsNullOrEmpty(employeeGroup1.Address)
        || string.IsNullOrEmpty(employeeGroup1.CivilId)
        || string.IsNullOrEmpty(employeeGroup1.Photo)
        ) return false;
        else return true;

    }

    //form2 Validation

    private bool ValidateEmployeeGroup2()
    {
        if (string.IsNullOrEmpty(employeeGroup2.JobName)
        || employeeGroup2.TownId == 0
        || employeeGroup2.BranchId == 0
        ) return false;
        else return true;

    }
    //save form

    [Parameter] public EventCallback<Employee> HandleSaveEmployeeClickedEvent { get; set; }

    //handling form 1&2
    void Form1()
    {
        var isValid = ValidateEmployeeGroup1();
        if (isValid)
        {
            Employee.Name = employeeGroup1.Name;
            Employee.TelephoneNumber = employeeGroup1.TelePhoneNumber;
            Employee.CivilId = employeeGroup1.CivilId;
            Employee.Address = employeeGroup1.Address;
            Employee.FileNumber = employeeGroup1.FileNumber;
            Employee.Photo = employeeGroup1.Photo;
            ShowLayer2();

        }

    }

    async void Form2()
    {
        var isValid = ValidateEmployeeGroup2();
        if (isValid)
        {
            Employee.JobName = employeeGroup2.JobName;
            Employee.Others = employeeGroup2.Other;
            Employee.BranchId = employeeGroup2.BranchId;
            Employee.TownId = employeeGroup2.TownId;

            await HandleSaveEmployeeClickedEvent.InvokeAsync(Employee);



        }


    }
    public void ClearContent()
    {
        employeeGroup1 = new();
        employeeGroup2 = new();
        Employee = new();
        StateHasChanged();
    }


    protected override void OnInitialized()
    {

        allState.Action += StateHasChanged;
    }

    //country // city //town

    [Parameter] public EventCallback<int> HandleCountrySelectEvent { get; set; }
    public void OnCountryValueChange(ChangeEventArgs<string, Country> args)
    {
        HandleCountrySelectEvent.InvokeAsync(int.Parse(args.Value));
    }

    [Parameter] public EventCallback<int> HandleCitySelectEvent { get; set; }
    public void OnCityValueChange(ChangeEventArgs<string, City> args)
    {
        HandleCitySelectEvent.InvokeAsync(int.Parse(args.Value));
    }

    public void OnTownValueChange(ChangeEventArgs<string, Town> args)
    {
        employeeGroup2.TownId = int.Parse(args.Value);
    }


    //General Department // Department // Branch
    [Parameter] public EventCallback<int> HandleGeneralDepartmentSelectEvent { get; set; }
    public void OnGeneralDepartmentValueChange(ChangeEventArgs<string, GeneralDepartment> args)
    {
        HandleGeneralDepartmentSelectEvent.InvokeAsync(int.Parse(args.Value));
    }
    [Parameter] public EventCallback<int> HandleDepartmentSelectEvent { get; set; }
    public void OnDepartmentValueChange(ChangeEventArgs<string, Department> args)
    {
        HandleDepartmentSelectEvent.InvokeAsync(int.Parse(args.Value));
    }
    public void OnBranchValueChange(ChangeEventArgs<string, Branch> args)
    {
        employeeGroup2.BranchId = int.Parse(args.Value);
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

}
