﻿<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title Sanction Type</Header>

        <Content>
            <EditForm Model="sanctionType" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-lable">Name</label>
                            <input @bind-value="sanctionType.Name" class="form-control" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>

@code {
    [Parameter] public SanctionType sanctionType { get; set; } = new();
    [Parameter] public EventCallback<SanctionType> HandleSaveOperationEvent { get; set; }

    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";
    private async void Save()
    {
        if (string.IsNullOrEmpty(sanctionType.Name))
        {
            await DialogServices.AlertAsync("You need to Provide overtimeTypetype.", "Alert!");

        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(sanctionType);
        }
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }
    public void CloseDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void ChangeTitle(string title) => Title = title;


}
