﻿@implements IDisposable
@if (allState.showOverTime)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-warning shodow-lg">
                    <div class="card-header">
                        <h4 class="flaot-start">Manage Employees Sanction</h4>
                    </div>
                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            @{
                                var tool = (new List<string>() { "Search", "ExcelExport", "PdfExport", "Pirnt" });
                            }
                            <SfGrid DataSource="@sanctions" AllowPaging="true" AllowSorting="true" Toolbar=@tool
                                AllowExcelExport="true" @ref="DefaultGrid" AllowPdfExport="true">
                                <GridPageSettings PageSize="5"></GridPageSettings>
                                <GridEvents OnToolbarClick="ToolbarClickedHandle" TValue="Sanction"></GridEvents>
                                <GridColumns>
                                    <GridColumn Field="@nameof(Sanction.EmployeeeId)" HeaderText="Id"></GridColumn>
                                    <GridColumn HeaderText="Type">
                                        <Template>
                                            @{
                                                var item=(context as Sanction);
                                                <div>
                                                @item!.SanctionType!.Name;
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field="@nameof(Sanction.Date)" HeaderText="Date"></GridColumn>
                                    <GridColumn Field="@nameof(Sanction.PunishmentDate)" HeaderText="PunishmentDate"></GridColumn>
                                    <GridColumn Field="@nameof(Sanction.Punishment)" HeaderText="Punishment"></GridColumn>

                                    <GridColumn HeaderText="Action">
                                        <Template>
                                            @{
                                                var itm = (context as Sanction);
                                                <div>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle" @onclick="()=> EditClicked(itm!)"></i>
                                                    <i class="bi bi-trash text-danger" id="cursorStyle" @onclick="()=> DeleteClicked(itm!)"></i>

                                                </div>

                                            }
                                        </Template>
                                    </GridColumn>


                                </GridColumns>
                            </SfGrid>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

       <SanctionDialog @ref="sanctionDialog"
                ItemModel="ItemModel"
                sanctionTypes="sanctionTypes"
                HandleSaveOperationEvent="HandleSAveOperationEvent" />


@code {

    private SfGrid<Sanction>? DefaultGrid;
    SanctionDialog? sanctionDialog;
    Sanction ItemModel = new();

    public List<Sanction> sanctions { get; set; } = new();
    public List<SanctionType> sanctionTypes { get; set; } = new();


    protected async override Task OnInitializedAsync()
    {
        await GetSanction();
        await GetSanctionTypes();
        allState.Action += StateHasChanged;
    }
    private async Task GetSanction()
    {
        sanctions = await sanctionService.GetAll(Constants.SanctionBaseUrl);
    }
    private async Task GetSanctionTypes()

    {
        sanctionTypes = await sanctionTypeService.GetAll(Constants.SanctionTypeBaseUrl);
    }
    void openDialog() => sanctionDialog?.openDialog();


    void AddButtonclicked()
    {
        ItemModel = new();
        openDialog();
    }

    private async Task HandleSAveOperationEvent(Sanction item)
    {
        var result = await sanctionService.Update(item, Constants.SanctionBaseUrl);
        bool successCheck = await DisplayMessage(result.Flag, result.Message);

        if (successCheck)
        {
            ItemModel = new();
            await GetSanction();
            await GetSanctionTypes();
        }
    }


    private void EditClicked(Sanction item)
    {
        ItemModel = new();
        openDialog();
    }

    private async Task DeleteClicked(Sanction item)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete this?", "Confirm Delete");
        if (!confirm) return;

        var response = await sanctionService.Delete(item.Id, Constants.SanctionBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
            await GetSanction();
    }

    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

    public async Task ToolbarClickedHandle(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "Excel EXport")
            await this.DefaultGrid!.ExcelExport();


        if (args.Item.Text == "PDF EXport")
            await this.DefaultGrid!.PdfExport();
    }

}
