﻿

<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="openDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title Employee's Sanction </Header>

        <Content>
            <EditForm Model="ItemModel" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-lable">Employee Id</label>
                            <input @bind="ItemModel.EmployeeeId" class="form-control" disabled />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-lable">Ocurring Date</label>
                            <InputDate @bind-Value="ItemModel.Date" class="form-control" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-lable">Punisment Date</label>
                            <InputDate @bind-Value="ItemModel.PunishmentDate" class="form-control" />
                        </div>

                        <div class="form-group mt-2">
                            <label class="form-lable">End Date</label>
                            <input value="ItemModel.punishment" class="form-control" disabled />
                        </div>


                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Type</label>
                            @if (ItemModel.SanctionType != null)
                            {
                                string? selected = ItemModel.SanctionType!.Name;

                                <SfDropDownList TValue="int" TItem="SanctionType" Placeholder="@selected" DataSource="sanctionTypes" @bind-Value="ItemModel.SanctionTypeId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="SanctionType" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TValue="int" TItem="SanctionType" Placeholder="Select Type" DataSource="sanctionTypes" @bind-Value="ItemModel.SanctionTypeId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="SanctionType" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        </div>
                        
                        




                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>


@code {
    [Parameter] public Sanction ItemModel { get; set; } = new();
    [Parameter] public List<SanctionType>  sanctionTypes{ get; set; } = new();
    [Parameter] public EventCallback<Sanction> HandleSaveOperationEvent { get; set; }
    public String Title { get; set; } = "Add";
    private bool IsVisible { get; set; } = false;
    private async void Save()
    {
        if (ItemModel.SanctionTypeId <= 0)
        {
            await DialogServices.AlertAsync("You need to Provide type.", "Alert!");

        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(ItemModel);
        }
    }
    public void openDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }
    public void closeDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    // public void OnValueChnage(ChangeEventArgs<string,OvertimeType>args)
    // {
    //     ItemModel.OvertimeTypeId = int.Parse(args.Value.ToString());
    // }

    public void ChangeTitle(string title)
    {
        Title = title;
    }

    public void OnValueChange(ChangeEventArgs<int, SanctionType> args)
    {
        // Update the DepartmentId
        ItemModel.SanctionTypeId = args.Value;

        // Update the Department object
        ItemModel.SanctionType = sanctionTypes.FirstOrDefault(dep => dep.Id == args.Value);

        // Refresh the UI
        StateHasChanged();
    }

    public void OnValueChange(ChangeEventArgs<string, SanctionType> args)
    {
        ItemModel.SanctionTypeId = int.Parse(args.Value);
    }







    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
