﻿

<SfDialog Width="320px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header>Add Employee Health Issue</Header>
        <Content>
            <EditForm Model="Doctor" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Employee Id</label>
                            <input @bind-value="Doctor.EmployeeeId" class="form-control" disabled />
                        </div>

                        <div class="form-group mt-2">
                            <label class="form-label">Date</label>
                            <input @bind-value="Doctor.Date" class="form-control" />
                        </div>

                        <div class="form-group mt-2">
                            <label class="form-label">Medical Diagnose</label>
                            <input @bind-value="Doctor.MedicalDiagnose" class="form-control" />
                        </div>

                        <div class="form-group mt-2">
                            <label class="form-label">Medical Recommendation</label>
                            <input @bind-value="Doctor.MedicalRecommendation" class="form-control" />
                        </div>


                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="Save" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>
</SfDialog>

@code {
    public string Title { get; set; } = "Add";

    [Parameter] public Doctor Doctor { get; set; } = new();
    [Parameter] public EventCallback<Doctor> HandleSaveOperation { get; set; }

    public bool IsVisible { get; set; } = false;

    public async void Save() => await HandleSaveOperation.InvokeAsync();

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }
    public void CloseDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void ChangeTitle(string title) => Title = title;
}
