﻿@implements IDisposable
@if (allState.ShowHealth)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-warning shodow-lg">
                    <div class="card-header">
                        <h4 class="flaot-start">Health Information</h4>
                    </div>
                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            @{
                                var tool = (new List<string>() { "Search", "ExcelExport", "PdfExport", "Pirnt" });
                            }
                            <SfGrid DataSource="@Doctors" AllowPaging="true" AllowSorting="true" Toolbar=@tool AllowExcelExport="true" @ref="DefaultGrid" AllowPdfExport="true"> 
                                <GridPageSettings PageSize="5"></GridPageSettings>
                                <GridEvents OnToolbarClick="ToolbarClickedHandle" TValue="Doctor"></GridEvents>
                                <GridColumns>
                                    <GridColumn Field="@nameof(Doctor.EmployeeeId)" HeaderText="Id"></GridColumn>
                                    <GridColumn Field="@nameof(Doctor.MedicalDiagnose)" HeaderText="Medical Diagnose"></GridColumn>
                                    <GridColumn Field="@nameof(Doctor.MedicalRecommendation)" HeaderText="Medical Recommendation"></GridColumn>
                                    <GridColumn Field="@nameof(Doctor.Date)" HeaderText="Date"></GridColumn>
                                    <GridColumn HeaderText="Action">
                                        <Template>
                                            @{
                                                var employee = (context as Doctor);
                                                <div>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle" @onclick="()=> EditClicked(employee!)"></i>
                                                    <i class="bi bi-trash text-danger" id="cursorStyle" @onclick="()=> DeleteClicked(employee!)"></i>

                                                </div>

                                            }
                                        </Template>
                                    </GridColumn>

                                </GridColumns>
                            </SfGrid>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>
<DoctorDialog @ref="doctorDialog"
    Doctor="Doctor"
    HandleSaveOperation="HandleSAveOperationEvent">
</DoctorDialog>

@code {
    private SfGrid<Doctor>? DefaultGrid;
    DoctorDialog? doctorDialog;
    Doctor Doctor=new();

    public List<Doctor> Doctors { get; set; } = new();
    protected async override Task OnInitializedAsync()
    {
        await GetHealth();
        allState.Action += StateHasChanged;
    } 
    private async Task GetHealth()
    {
        Doctors = await doctorService.GetAll(Constants.DoctorBaseUrl);
    }

    void AddButtonclicked()
    {
        Doctor = new();
        openDialog();
    }
    void openDialog() => doctorDialog?.OpenDialog();

    private async Task HandleSAveOperationEvent(Doctor doctor)
    {
        var result = await doctorService.Update(doctor, Constants.DoctorBaseUrl);
        bool successCheck = await DisplayMessage(result.Flag, result.Message);

        if(successCheck)
        {
            Doctor = new();
            await GetHealth();
        }
    }


    private void EditClicked(Doctor doctor)
    {
        Doctor = new();
        openDialog();
    }

    private async Task DeleteClicked(Doctor dep)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete this?", "Confirm Delete");
        if (!confirm) return;

        var response = await doctorService.Delete(dep.Id, Constants.DoctorBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
            await GetHealth();
    }

    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

    public async Task ToolbarClickedHandle(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "Excel EXport")
            await this.DefaultGrid!.ExcelExport();


        if (args.Item.Text == "PDF EXport")
            await this.DefaultGrid!.PdfExport();
    }

}
