﻿
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header">
                    <i class="bi bi-people text-primary"></i> Employees</div>
            </div>
         </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-success">
                <div class="card-header"><i class="bi bi-backpack3 text-success"></i>Vacation </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger">
                <div class="card-header"><i class="bi bi-stopwatch text-danger"></i>OverTime</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-warning">
                <div class="card-header"><i class="bi bi-hospital text-warning"></i>Doctor</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info">
                <div class="card-header"><i class="bi bi-x-octagon text-info"></i>Sanctions</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-dark">
                <div class="card-header"><i class="bi bi-slack text-dark"></i>Departments</div>
            </div>
        </div>
    </div>
</div>