﻿@if (allState.showVacationType)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Sanction Types</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add Type
                        </button>
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">

                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (types is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in types)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <th>@item.Id</th>
                                                <th>@item.Name</th>
                                                <td>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle" @onclick="()=>EditClicked(item)"></i>
                                                    <i class="bi bi-trash text-info" id="cursorStyle" @onclick="()=>DeleteClicked(item)"></i>

                                                </td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <div class="alert alert-info text-center">NO Types Added</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<VacationTypeDialog @ref="vacationTypeDialog"
                    HandleSaveOperationEvent="HandleSaveOperationEvent"
                    vacationType="vacationType" />

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>


@code {
    VacationTypeDialog? vacationTypeDialog;
    VacationType vacationType= new();

    public string Title { get; set; } = "Add";
    public List<VacationType> types { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetTypes();
        allState.Action += StateHasChanged;
    }

    private async Task GetTypes() => types = await vacationTypeService.GetAll(Constants.VacationTypeBaseUrl);

    public void OpenDialog()
    {
        vacationTypeDialog?.OpenDialog();
    }

    private async Task HandleSaveOperationEvent(VacationType item)
    {
        bool successCheck = false;
        if (item.Id > 0)
        {
            var result = await vacationTypeService
            .Update(item, Constants.VacationTypeBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);

        }
        else
        {
            var response = await vacationTypeService
            .Insert(item, Constants.VacationTypeBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);


        }
        if (successCheck)
        {
            vacationType = new();
            vacationTypeDialog?.ChangeTitle("Add");
            await GetTypes();
            StateHasChanged();
        }
    }



    public void CloseDialog()
    {
        StateHasChanged();
    }


    void EditClicked(VacationType item)
    {
        vacationTypeDialog?.ChangeTitle("Update");
        vacationType = item;
        OpenDialog();
    }


    async Task DeleteClicked(VacationType item)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {item.Name} ?", "Confirm Delete");
        if (!confirm) return;

        var response = await vacationTypeService.Delete(item.Id, Constants.VacationTypeBaseUrl);
        if (await DisplayMessage(response.Flag, response.Message))

            await GetTypes();

    }


    //for displaying message and flag
    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;

        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }


    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }



}
