﻿@implements IDisposable
@if (allState.showvacation)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-warning shodow-lg">
                    <div class="card-header">
                        <h4 class="flaot-start">Manage Employees OverTime</h4>
                    </div>
                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            @{
                                var tool = (new List<string>() { "Search", "ExcelExport", "PdfExport", "Pirnt" });
                            }
                            <SfGrid DataSource="@vacations" AllowPaging="true" AllowSorting="true" Toolbar=@tool
                                AllowExcelExport="true" @ref="DefaultGrid" AllowPdfExport="true">
                                <GridPageSettings PageSize="5"></GridPageSettings>
                                <GridEvents OnToolbarClick="ToolbarClickedHandle" TValue="OverTime"></GridEvents>
                                <GridColumns>
                                    <GridColumn Field="@nameof(Vacation.EmployeeeId)" HeaderText="Id"></GridColumn>
                                    <GridColumn HeaderText="Type">
                                        <Template>
                                            @{
                                                var item = (context as Vacation);
                                                <div>
                                                @item!.VacationType!.Name;
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field="@nameof(Vacation.StartDate)" HeaderText="Start Date"></GridColumn>
                                    <GridColumn Field="@nameof(Vacation.EndDate)" HeaderText="End Date"></GridColumn>
                                    <GridColumn Field="@nameof(Vacation.NumberofDays)" HeaderText="Number of Days"></GridColumn>
                                    <GridColumn HeaderText="Action">
                                        <Template>
                                            @{
                                                var itm = (context as Vacation);
                                                <div>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle" @onclick="()=> EditClicked(itm!)"></i>
                                                    <i class="bi bi-trash text-danger" id="cursorStyle" @onclick="()=> DeleteClicked(itm!)"></i>

                                                </div>

                                            }
                                        </Template>
                                    </GridColumn>


                                </GridColumns>
                            </SfGrid>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

               <VacationDialog @ref="vacationDialog"
                HandleSaveOperationEvent="HandleSAveOperationEvent"
                OvertimeTypes="OvertimeTypes"
                ItemModel="ItemModel" /> 


@code {

    private SfGrid<Vacation>? DefaultGrid;
    VacationDialog? vacationDialog;
    Vacation ItemModel = new();

    public List<Vacation> vacations { get; set; } = new();
    public List<VacationType> vacationTypes { get; set; } = new();


    protected async override Task OnInitializedAsync()
    {
        await GetOverTime();
        await GetOverTimeTypes();
        allState.Action += StateHasChanged;
    }
    private async Task GetOverTime()
    {
        vacations = await vacationService.GetAll(Constants.VacationBaseUrl);
    }
    private async Task GetOverTimeTypes()

    {
        vacationTypes = await vacationTypeService.GetAll(Constants.VacationTypeBaseUrl);
    }
    void openDialog() => vacationDialog?.openDialog();


    void AddButtonclicked()
    {
        ItemModel = new();
        openDialog();
    }

    private async Task HandleSAveOperationEvent(Vacation item)
    {
        var result = await vacationService.Update(item, Constants.VacationBaseUrl);
        bool successCheck = await DisplayMessage(result.Flag, result.Message);

        if (successCheck)
        {
            ItemModel = new();
            await GetOverTime();
            await GetOverTimeTypes();
        }
    }


    private void EditClicked(Vacation item)
    {
        ItemModel = new();
        openDialog();
    }

    private async Task DeleteClicked(Vacation item)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete this?", "Confirm Delete");
        if (!confirm) return;

        var response = await vacationService.Delete(item.Id, Constants.VacationBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
            await GetOverTime();
    }

    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }
    public async Task ToolbarClickedHandle(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "Excel EXport")
            await this.DefaultGrid!.ExcelExport();


        if (args.Item.Text == "PDF EXport")
            await this.DefaultGrid!.PdfExport();
    }


    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

    
}
