﻿@using BaseLibrary.Entities.role

@if(allState.ShowUser)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Manage User</h4>
                       
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col"> Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ManagerUsers is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in ManagerUsers)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.UserId</td>
                                                <td>@item.Name</td>
                                                <td>@item.Email</td>
                                                <td>@item.Role</td>

                                                <td>
                                                    <i class="bi bi-pencil text-info cursorStyle" @onclick="() => EditClicked(item)"> </i>
                                                    <i class="bi bi-trash text-danger cursorStyle" @onclick="() => DeleteClicked(item)"> </i>
                                                </td>
                                            </tr>
                                        }
                                        count++;

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="alert alert-info text-center">No user registered yet!!</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>
@code {
    UserDialog? userDialog;
    ManageUser ManagerUser = new();
    public List<ManageUser> ManagerUsers { get; set; } = new();
    public List<Systemroles> systemroles { get; set; } = new();



    protected async override Task OnInitializedAsync()
    {
        await GetUser();
        await GetRoles();
        allState.Action += StateHasChanged;
    }

    private async Task GetUser()
    {
        ManagerUsers = await accountService.GetUser();

    }

    private async Task GetRoles()
    {
        systemroles = await accountService.GetRoles();
    }

    void OpenDialog()
    {
        userDialog?.OpenDialog();
    }

    public async Task HandleSaveOperationEvent(ManageUser User)
    {
        var response = await accountService.UpdateUser(User);
        bool successCheck = await DisplayMessage(response.Flag, response.Message);
        if (successCheck)
        {
            User = new();
            await GetUser();
        }
    }

    private void EditClicked(ManageUser dep)
    {
        ManagerUser = dep;
        OpenDialog();
    }

    public async Task DeleteClicked(ManageUser dep)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {dep.Name}?", "Confirm Delete");
        if (!confirm) return;

        var response = await accountService.DeleteUser(dep.UserId);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
            await GetUser();
    }


    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
