﻿@using BaseLibrary.Entities.role
@using Syncfusion.Blazor.DropDowns

<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>Update User</Header>
        <Content>
            <EditForm Model="manageUser" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                       
                        <div class="form-group">
                            <label class="form-lable"> Name</label>
                            <InputText @bind-Value="manageUser.Name" class="form-control" disable />
                        </div>
                        <div class="form-group">
                            <label class="form-lable">Email</label>
                            <InputText @bind-Value="manageUser.Email" class="form-control" disable />
                        </div>

                        <div class="form-group mt-3 mb-3">
                            <label class="form-label"> Select Role </label>
                            @if (manageUser.Role != null)
                            {
                                string? selected = manageUser.Name;

                                <SfDropDownList TValue="string" TItem="Systemroles" Placeholder="@selected" DataSource="Systemroles" >
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="Systemroles" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TItem="Systemroles" TValue="string" Placeholder="Select Roles" DataSource="Systemroles">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="Systemroles" ValueChange="OnValueChange" />

                                </SfDropDownList>
                            }
                        </div>

                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>
@code {
    [Parameter] public ManageUser manageUser { get; set; } = new();

    [Parameter] public List<Systemroles> Systemroles { get; set; } = new();

    [Parameter] public EventCallback<ManageUser> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;

    public async void Save()
    {
        if (string.IsNullOrEmpty(manageUser.Name) || string.IsNullOrEmpty(manageUser.Role))
        {
            await DialogServices.AlertAsync("You need to provide Role name ?", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(manageUser);
            StateHasChanged();

        }
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void OnValueChange(ChangeEventArgs<string, Systemroles> args)
    {
        manageUser.Role = args.Value.ToString();
    }
}