﻿@page "/identity/account/register"
@using Clients.Pages.Otherpages
@layout AuthenticationLayout

<div class="container">
    <div class="row">
        <div class="col-lg-4"> </div>
        <div class="col-lg-4">
            <EditForm Enhance Model="User" OnValidSubmit="HandleRegistion">
                <DataAnnotationsValidator/>
                <div class="card bg-black" style="opacity:0.5; margin-top:50px; border-radius:10px; color:white;font-weight:bold">

                    <div class="card-header text-center fs-5">
                        Rigister an account
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center">
                                <img style="border-radius:20px " src="../images/companylogo/logo.png" height="50" width="50" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4"></div>

                        </div>
                    </div>

                    <div class="card-body">

                        <div class="form-group mt-3">
                            <label class="form-label">Full Name</label>
                            <InputText @bind-Value="User.FullName" class="form-control"></InputText>
                        </div>

                        <div class="form-group mt-3">
                            <label class="form-label">Email</label>
                            <InputText  @bind-Value="User.Email" class="form-control"></InputText>
                        </div>
                    
                        <div class="form-group mt-3">
                            <label class="form-label">Password</label>
                            <input type="password" @bind="User.Password" class="form-control"></input>
                        </div>

                        <div class="form-group mt-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" @bind="User.ConfirmPassword" class="form-control"></input>
                        </div>

                        <div class="form-group mt-3">
                            @if (showloadingbutton)
                            {

                                <Buttonspinner></Buttonspinner>
                            }
                            else
                            {
                                <button class="btn btn-outline-primary float-end" type="submit">Register</button>

                                
                            }
                        </div>
                   </div>

                    <div class="card-footer">
                        <span class="text-center">
                            Don't have account?
                            <a class="btn-link" href="identity/account/login" style="text-decoration-color:white">Log In</a>
                        </span>
                    </div>
                    <ValidationSummary />
                </div>
            </EditForm>
        </div>
    
        <div class="col-lg-4"> </div>

    </div>
</div>



@code {
    public bool showloadingbutton { get; set; } = false;
    Register User = new();
    
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }


    public async Task HandleRegistion()
    {
        showloadingbutton = true;
        var result = await accountService.CreateAsync(User);
        if (result.Flag)
        {
            await DisplayDialog(result.Message, "Account has been Registered");


            User = new();
            // NavManager.NavigateTo("/identity/account/login", forceLoad: true);
        }
        else
        {
            await DisplayDialog(result.Message, "Alert");

            
        }
        showloadingbutton = false;

    }

    private async Task DisplayDialog(string content, string title)
    {
        // // await DailogServices.AlertAsync(content, title);
    }
   

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (isUserAuthenticated==true)
        {
            NavManager.NavigateTo("/home/dashboard");
        }
    }
}

