﻿@inject AllState allState

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header" @onclick="EmployeeClicked">
                        <i class="bi bi-people text-primary"></i>Employees
                        <span class="badge bg-primary fs-6">@Employees.Count</span>
                 </div> 
            </div>
         </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header" @onclick="VacationClicked">
                    <i class="bi bi-stopwatch fs-5 text-success"></i>Vacation
                    <span class="badge bg-success fs-6">@Vacations.Count</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header" @onclick="OVerTimeClicked">
                    <i class="bi bi-people text-danger"></i>OverTime
                    <span class="badge bg-danger fs-6">@OverTimes.Count</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header" @onclick="HealthClicked">
                    <i class="bi bi-hospital text-warning"></i>Doctor
                    <span class="badge bg-warning fs-6">@Doctors.Count</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header" @onclick="SanctionClicked">
                    <i class="bi bi-x-octagon fs-5 text-info"></i>Sanction
                    <span class="badge bg-info fs-6">@Sanctions.Count</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header" @onclick="DerpartmentClicked">
                    <i class="bi bi-people text-dark"></i>Department
                    <span class="badge bg-dark fs-6">@Departments.Count</span>
                </div>
            </div>
        </div>
       
    </div>
</div>

@code{
    public List<Employee> Employees { get; set; } = new();
    public List<Department> Departments  { get; set; } = new();
    public List<OverTime> OverTimes{ get; set; } = new();
    public List<Sanction> Sanctions { get; set; } = new();
    public List<Vacation> Vacations { get; set; } = new();
    public  List<Doctor> Doctors{ get; set; } = new();


    protected async override Task OnInitializedAsync()
    {
        allState.Action += StateHasChanged;

        await LoadDefault();
    }

    private async Task LoadDefault()
    {
        Employees = await employeeService.GetAll(Constants.EmployeeBaseUrl);
        Departments = await departmentService.GetAll(Constants.DepartmentBaseUrl);
        OverTimes = await overTimeService.GetAll(Constants.OvertimeBaseUrl);
        Sanctions = await sanctionService.GetAll(Constants.SanctionBaseUrl);
        Vacations = await vacationService.GetAll(Constants.VacationBaseUrl);
        Doctors = await doctorService.GetAll(Constants.DoctorBaseUrl);
    }

     void DerpartmentClicked()
    {
        allState.DepartmentClicked();
    }

     void OVerTimeClicked()
    {
        allState.OverTimeClicked();
    }
    void VacationClicked()
    {
        allState.VacationClicked();
    }
    void SanctionClicked()
    {
        allState.SanctionClicked();
    }
    public void HealthClicked()
    {
        allState.HealthClicked();
    }
     void EmployeeClicked()
    {
        allState.EmployeeClicked();
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

}