﻿@implements IDisposable

 @if(allState.ShowEmployee)
{
    <h3></h3>

    if (ShowAddorUpdateEmploee)
    {
        <div class="container-fuild">
            <div class="d-flex align-items-center justify-content-between">
                <div class="text-bold"><h2>@title Details</h2></div>
                <i class="bi bi-x-lg fs-3 fw-bold text-danger" style="cursor:pointer" @onclick="Closeform"></i>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-2 mb-5 d-flex justify-content-center">
                    <div class="hstack">
                        
                        
                        @if (FirstLayer)
                        {
                            <div class="@FloatingNumber1 text-center">1</div>
                            <div class="@Floatingdiv1 format-border"></div>
                            <div class="@FloatingNumber2 text-center">2</div>
                            <div class="@Floatingdiv2 format-border"></div>
                        }
                        @if (SecondLayer)
                        {
                            <div class="@FloatingNumber1 text-center">1</div>
                            <div class="@Floatingdiv1 format-border"></div>
                            <div class="@FloatingNumber2 text-center">2</div>
                            <div class="@Floatingdiv2 format-border"></div>
                        }

                    </div>
                </div>
                
                <!-- Employee form first layer / second layer -->
                <div class="col-lg-12">
                    <div class="container-fluid">
                        @if (FirstLayer)
                        {
                            <EditForm Model="employeeGroup1" OnValidSubmit="Form1">
                                <DataAnnotationsValidator />
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-4 mt-2">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Personal Information</div>
                                        <div class="card-body">
                                            <!-- Employee name -->
                                            <div class="form-group">
                                                
                                                <div class="form-label">Full Name</div>
                                                <InputText @bind-Value="employeeGroup1.Name" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.Name" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- Employee address -->
                                            <div class="form-group mt-2">
                                                <div class="form-label">Address</div>
                                                <InputText @bind-Value="employeeGroup1.Address" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.Address" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- Employee telephone -->
                                            <div class="form-group mt-2">
                                                <div class="form-label">TelePhone Number</div>
                                                <InputText @bind-Value="employeeGroup1.TelePhoneNumber" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.TelePhoneNumber" class="text-danger"></ValidationMessage>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mt-2">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Other Information</div>
                                        <div class="card-body">
                                            <!-- Employee civilId -->
                                            <div class="form-group">
                                                <label class="form-label">CivilId</label>
                                                <InputText @bind-Value="employeeGroup1.CivilId" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.CivilId" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- Employee file number -->
                                            <div class="form-group mt-2">
                                                <label class="form-label">FileNumber</label>
                                                <InputText @bind-Value="employeeGroup1.FileNumber" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup1.FileNumber" class="text-danger"></ValidationMessage>
                                            </div>

                                            
                                            <!-- Employee photo -->
                                            <div class="form-group mt-2">
                                                <label class="form-label @(ImageUploadMessage == "" ? "" : "text-danger")">
                                                    @(ImageUploadMessage == "" ? "Upload Image" : ImageUploadMessage)
                                                </label>
                                                <InputFile class="form-control" OnChange="UploadImage"></InputFile>
                                                <ValidationMessage For="()=>employeeGroup1.Photo" class="text-danger"></ValidationMessage>
                                            </div>

                                            <div class="form-group mt-5">
                                                <button class="btn btn-primary float-end mt-4 mb-5" type="submit">
                                                    <i class="bi bi-arrow-right"></i>
                                                    Next
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2"></div>
                                </div>
                            </EditForm>
                        }
                        @if (SecondLayer)
                        {
                            <EditForm Model="employeeGroup2" OnValidSubmit="Form2">
                                <DataAnnotationsValidator />
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-4">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Job Information</div>
                                        <div class="card-body">
                                            <!-- Employee job name -->
                                            <div class="form-group">
                                                <div class="form-label">Job Name</div>
                                                <InputText @bind-Value="employeeGroup2.JobName" class="form-control"></InputText>
                                                <ValidationMessage For="()=>employeeGroup2.JobName" class="text-danger"></ValidationMessage>
                                            </div>

                                            <!-- General Department -->
                                            <div class="form-group mt-3">
                                                
                                                <label class="form-label">General Department</label>
                                                @{
                                                    string general = General.Equals("") ? "Select General Department" : General;
                                                }
                                                <SfDropDownList TValue="string" TItem="GeneralDepartment" Placeholder="@general" DataSource="GeneralDepartments">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="GeneralDepartment" ValueChange="OnGeneralDepartmentValueChange"></DropDownListEvents>
                                                </SfDropDownList>

                                            </div>

                                            <!-- Department -->
                                            <div class="form-group mt-3">
                                                <label class="form-label">Department</label>
                                                @{
                                                    string depart = department.Equals("") ? "Select Department" : department;
                                                }
                                                <SfDropDownList TValue="string" TItem="Department" Placeholder="@depart" DataSource="Departments">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Department" ValueChange="OnDepartmentValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                                <ValidationMessage For="()=>employeeGroup2.BranchId" class="danger"></ValidationMessage>
                                            </div>

                                            <!-- Branch -->
                                            <div class="form-group mt-3">
                                                <label class="form-label">Branch</label>
                                                @{
                                                    string branchs = branch.Equals("") ? "Select Branch" : branch;
                                                }
                                                <SfDropDownList TValue="string" TItem="Branch" Placeholder="@branchs" DataSource="Branches">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Branch" ValueChange="OnBranchValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                                <ValidationMessage For="()=>employeeGroup2.BranchId" class="text-danger" />
                                            


                                            </div>

                                            <div class="form-group mt-4 mb-5">
                                                <button class="btn btn-primary float-start" type="button" @onclick="PrevClicked">Previous</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="card-title mb-5 fw-bold" style="font-family:Tahoma">Location Information</div>
                                        <div class="card-body">
                                            <!-- Country -->
                                            <div class="form-group mt-3">
                                                <label class="form-label">Country</label>
                                                @{
                                                    string countrys = country.Equals("") ? "Select country" : country;
                                                }
                                                <SfDropDownList TValue="string" TItem="Country" Placeholder="@countrys" DataSource="Countries">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Country" ValueChange="OnCountryValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>

                                            <!-- City -->
                                            <div class="form-group mt-3">
                                                <label class="form-label">City</label>
                                                @{
                                                    string citys = city.Equals("") ? "Select City" : city;
                                                }
                                                <SfDropDownList TValue="string" TItem="City" Placeholder="@citys" DataSource="Cities">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="City" ValueChange="OnCityValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>

                                            <!-- Town -->
                                            <div class="form-group mt-3">
                                                <label class="form-label">Town</label>
                                                @{
                                                    string towns = city.Equals("") ? "Select Town" : city;
                                                }
                                                <SfDropDownList TValue="string" TItem="Town" Placeholder="@towns" DataSource="Towns">
                                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                                    <DropDownListEvents TValue="string" TItem="Town" ValueChange="OnTownValueChange"></DropDownListEvents>
                                                </SfDropDownList>
                                                <ValidationMessage For="()=>employeeGroup2.TownId" class="text-danger" />
                                            </div>

                                            <!-- others -->

                                            <div class="form-group">
                                                <label class="form-label">Others</label>
                                                <InputText @bind-Value="employeeGroup2.Other" class="form-control"></InputText>
                                            </div>

                                            <div class="form-group mt-4 mb-5">
                                                <button class="btn btn-primary float-end" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2"></div>
                                </div>
                            </EditForm>
                        }
                    </div>
                </div>

            </div>
        </div>
    }

    <style>
        .circular-image {
            border-radius: 50%; /* Make the image circular */
            width: 50px; /* Set the width to 50px */
            height: 50px; /* Set the height to 50px */
            object-fit: cover; /* Make sure the image fits the circle */
        }

        .floatingDiv {
            width: 500px;
            background: #228ada;
            height: 10px;
        }

        .floatingNumber {
            border-radius: 50%;
            color: white;
            background: #1d1858;
            width: 20px;
            height: 20px;
        }

        .inactive-div {
            width: 500px;
            background: gray;
            height: 10px;
        }

        .inactive-span {
            border-radius: 50%;
            color: white;
            background: gray;
            width: 20;
            height: 20px;
        }

        .format-bordar {
            border-radius: 20px;
        }

    </style>
    
}


@code{
    [Parameter] public Employee Employee { get; set; } = new();

    [Parameter] public bool ShowAddorUpdateEmploee { get; set; } = true;
    [Parameter] public EmployeeGroup1 employeeGroup1 { get; set; } = new();
    [Parameter] public EmployeeGroup2 employeeGroup2 { get; set; } = new();


    [Parameter] public List<Country> Countries { get; set; } = new();
    [Parameter] public List<City> Cities { get; set; } = new();
    [Parameter] public List<Town> Towns { get; set; } = new();

    [Parameter] public List<GeneralDepartment> GeneralDepartments{ get; set; } = new();
    [Parameter] public List<Department> Departments{ get; set; } = new();
    [Parameter] public List<Branch> Branches{ get; set; } = new();



    string FloatingNumber1 = "floatingNumber";
    string Floatingdiv1 = "floatingDiv";

    string FloatingNumber2 = "inactive-span";
    string Floatingdiv2 = "inactive-div";

    public bool FirstLayer { get; set; } =true;
    public bool SecondLayer { get; set; } = false;

    public string title { get; set; } = "Add";

    public string General { get; set; } = "";
    public string department { get; set; } = "";
    public string branch { get; set; } = "";
    public string country { get; set; } = "";
    public string city { get; set; } = "";
    public string town { get; set; } = "";





    private void ShowLayer1()
    {
        SecondLayer = false;
        FirstLayer = true;
    }

    private void ShowLayer2()
    {
        SecondLayer = true;
        FirstLayer = false;
    }



    private void PrevClicked()
    {
        SecondLayer = false;
        FirstLayer = true;
    }


    

    //formClosed
    [Parameter] public EventCallback NotifyParentFormClosdeClicked { get; set; }
    async Task Closeform()
    {
        ShowAddorUpdateEmploee = false;
        await NotifyParentFormClosdeClicked.InvokeAsync();
    }




    //fiel Uplaod
    string ImageUploadMessage = "";
    private async Task UploadImage(InputFileChangeEventArgs e)
    {
        if (e.File.Name.ToLower().Contains(".jpg") || e.File.Name.ToLower().Contains(".jpeg"))
        {
            var format = "image/jpeg";
            var resizeImage = await e.File.RequestImageFileAsync(format, 300, 300);
            var buffer = new byte[resizeImage.Size];
            await resizeImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            ImageUploadMessage = "";
            employeeGroup1.Photo = imageData;
            return;
        }

        ImageUploadMessage = "JPEG File Needed";
    }

    //form1 Validation

    private bool ValidateEmployeeGroup1()
    {
        if (string.IsNullOrEmpty(employeeGroup1.Name)
        || string.IsNullOrEmpty(employeeGroup1.TelePhoneNumber)
        || string.IsNullOrEmpty(employeeGroup1.FileNumber)
        || string.IsNullOrEmpty(employeeGroup1.Address)
        || string.IsNullOrEmpty(employeeGroup1.CivilId)
        || string.IsNullOrEmpty(employeeGroup1.Photo)
        ) return false;
        else return true;

    }

    //form2 Validation

    private bool ValidateEmployeeGroup2()
    {
        if (string.IsNullOrEmpty(employeeGroup2.JobName)
        || employeeGroup2.TownId==0
        || employeeGroup2.BranchId==0
        ) return false;
        else return true;

    }
    //save form

    [Parameter] public EventCallback<Employee> HandleSaveEmployeeClickedEvent { get; set; }

    //handling form 1&2
    void Form1()
    {
        var isValid = ValidateEmployeeGroup1();
        if (isValid)
        {
            Employee.Name = employeeGroup1.Name;
            Employee.TelephoneNumber = employeeGroup1.TelePhoneNumber;
            Employee.CivilId = employeeGroup1.CivilId;
            Employee.Address = employeeGroup1.Address;
            Employee.FileNumber = employeeGroup1.FileNumber;
            Employee.Photo = employeeGroup1.Photo;
            ShowLayer2();

        }

    }

    async void Form2()
    {
        var isValid = ValidateEmployeeGroup2();
        if (isValid)
        {
            Employee.JobName = employeeGroup2.JobName;
            Employee.Others = employeeGroup2.Other;
            Employee.BranchId = employeeGroup2.BranchId;
            Employee.TownId = employeeGroup2.TownId;

            await HandleSaveEmployeeClickedEvent.InvokeAsync(Employee);



        }


    }
    public void ClearContent()
    {
        employeeGroup1 = new();
        employeeGroup2 = new();
        Employee = new();
        StateHasChanged();
    }


    protected override void OnInitialized()
    {

       allState.Action += StateHasChanged;
    }

   


    //country // city //town

    [Parameter] public EventCallback<int> HandleCountrySelectEvent { get; set; }
    public void OnCountryValueChange(ChangeEventArgs<string, Country> args)
    {
        HandleCountrySelectEvent.InvokeAsync(int.Parse(args.Value));
    }

    [Parameter] public EventCallback<int> HandleCitySelectEvent { get; set; }
    public void OnCityValueChange(ChangeEventArgs<string, City> args)
    {
        HandleCitySelectEvent.InvokeAsync(int.Parse(args.Value));
    }

    public void OnTownValueChange(ChangeEventArgs<string, Town> args)
    {
        employeeGroup2.TownId=int.Parse(args.Value);
    }


    //General Department // Department // Branch

    [Parameter] public EventCallback<int> HandleGeneralDepartmentSelectEvent { get; set; }
    public void OnGeneralDepartmentValueChange(ChangeEventArgs<string, GeneralDepartment> args)
    {
        HandleGeneralDepartmentSelectEvent.InvokeAsync(int.Parse(args.Value));
    }

    [Parameter] public EventCallback<int> HandleDepartmentSelectEvent { get; set; }
    public void OnDepartmentValueChange(ChangeEventArgs<string, Department> args)
    {
        HandleDepartmentSelectEvent.InvokeAsync(int.Parse(args.Value));
    }

    public void OnBranchValueChange(ChangeEventArgs<string, Branch> args)
    {
        employeeGroup2.BranchId = int.Parse(args.Value);
    }

    

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }


    

}
