﻿@using Syncfusion.Blazor.DropDowns

<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title Branch</Header>

        <Content>
            <EditForm Model="Branch" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-lable">Id</label>
                            <input @bind="Branch.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-lable">Branch Name</label>
                            <InputText @bind-Value="Branch.Name" class="form-control" />
                        </div>

                        <div class="form-group mt-3 mb-3">
                            <label class="form-label"> Select Department </label>
                            @if (Branch.Department != null)
                            {
                                string? selected = Branch.Department!.Name;

                                <SfDropDownList TValue="int" TItem="Department" Placeholder="@selected" DataSource="Departments" @bind-Value="Branch.DepartmentId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="Department" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>


                            }
                            else
                            {
                                <SfDropDownList TItem="Department" TValue="string" Placeholder="Select Depaertment" DataSource="Departments">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="Department" ValueChange="OnValueChange" />

                                </SfDropDownList>
                            }
                        </div>

                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>

@code {

    [Parameter] public Branch Branch { get; set; } = new();

    [Parameter] public List<Department> Departments { get; set; } = new();

    [Parameter] public EventCallback<Branch> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;

    public string Title { get; set; } = "Add";

    public async void Save()
    {
        if (string.IsNullOrEmpty(Branch.Name) || Branch.DepartmentId <= 0)
        {
            await DialogServices.AlertAsync("You need to provide Branch name.", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(Branch);
            StateHasChanged();

        }
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }


    public void ChangeTitle(string title)
    {
        Title = title;
    }
    public void OnValueChange(ChangeEventArgs<int, Department> args)
    {
        // Update the DepartmentId
        Branch.DepartmentId = args.Value;

        // Update the Department object
        Branch.Department = Departments.FirstOrDefault(dep => dep.Id == args.Value);

        // Refresh the UI
        StateHasChanged();
    }
    public void OnValueChange(ChangeEventArgs<string, Department> args)
    {
        Branch.DepartmentId = int.Parse(args.Value);
    }
}
