﻿@using ClientLibrary.Helpers
@implements IDisposable

@if (allState.ShowBranch)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Departments</h4>
                        <button class="btn btn-outline-success float-end" @onclick="AddButtonClicked">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add Branch
                        </button>
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col"> Department</th>
                                        <th scope="col">Branch</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Branchs is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in Branchs)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.Department?.Name</td> <!-- Handle potential null reference -->
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info cursorStyle" @onclick="() => EditClicked(item)"> </i>
                                                    <i class="bi bi-trash text-danger cursorStyle" @onclick="() => DeleteClicked(item)"> </i>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                       
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="alert alert-info text-center">No Branch Added yet!!</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<BranchDialog @ref="BranchDialog"
              HandleSaveOperationEvent="HandleSaveOperationEvent"
              Branch="Branch"
              Departments="Departments" />

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

@code {
    public string Title { get; set; } = "Add";

    BranchDialog? BranchDialog;
    Branch Branch = new();
    public List<Branch> Branchs { get; set; } = new();

    public List<Department> Departments { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetBranch();
        await GetGeneralBranch();
        allState.Action += StateHasChanged;
    }

    private async Task GetBranch()
    {
        Branchs = await branchService.GetAll(Constants.BranchBaseUrl);

    }

    private async Task GetGeneralBranch()
    {
        Departments = await departmentService.GetAll(Constants.DepartmentBaseUrl);
    }

    public void AddButtonClicked()
    {
        BranchDialog?.ChangeTitle("Add");
        Branch = new();
        OpenDialog();
    }

    void OpenDialog()
    {
        BranchDialog?.OpenDialog();
    }

    public async Task HandleSaveOperationEvent(Branch Branch)
    {
        bool successCheck = false;
        if (Branch.Id > 0)
        {
            var result = await branchService.Update(Branch, Constants.BranchBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var response = await branchService.Insert(Branch, Constants.BranchBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if (successCheck)
        {
            Branch = new();
            await GetBranch();
            BranchDialog?.ChangeTitle("Add");
        }
    }

    private void EditClicked(Branch dep)
    {
        BranchDialog?.ChangeTitle("Update");
        Branch = dep;
        OpenDialog();
    }

    public async Task DeleteClicked(Branch dep)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {dep.Name}?", "Confirm Delete");
        if (!confirm) return;

        var response = await branchService.Delete(dep.Id, Constants.BranchBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
            await GetBranch();
    }


    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
