﻿
@implements IDisposable
@if (allState.ShowCountry)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Country</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add Country
                        </button>
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col"> Country</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Countrys is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in Countrys)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info"
                                                       id="cursorStyle" @onclick="()=>EditClicked(item)"> </i>
                                                    <i class="bi bi-trash text-danger"
                                                       id="cursorStyle" @onclick="()=>DeleteClicked(item)"> </i>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                        
                                    }
                                    else
                                    {
                                        <tr colspan="4">
                                            <td>
                                                <div class="alert alert-info text-center">No General Department Added yet!!</div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<CountryDialog @ref="CountryDialog"
               HandleSaveOperationEvent="HandleSaveOperationEvent"
               Country="Country" />


@code {
    CountryDialog? CountryDialog;
    Country Country = new();
    public string Title { get; set; } = "Add";
    public List<Country> Countrys { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetCountry();
        allState.Action += StateHasChanged;
    }

    private async Task GetCountry()
    {
        Countrys = await countryService.GetAll(Constants.CountryBaseUrl);
    }

    void OpenDialog()
    {
        CountryDialog?.OpenDialog();
    }

    //for insert and update the data
    public async Task HandleSaveOperationEvent(Country Country)
    {

        bool successCheck = false;
        if (Country.Id > 0)
        {
            var result = await countryService
            .Update(Country, Constants.CountryBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);

        }
        else
        {
            var response = await countryService
            .Insert(Country, Constants.CountryBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);


        }
        if (successCheck)
        {
            Country = new();
            CountryDialog?.ChangeTitle("Add");
            StateHasChanged();

        }
    }
    //for update the table
    private void EditClicked(Country dep)
    {
        CountryDialog?.ChangeTitle("Update");
        Country = dep;
        OpenDialog();
    }

    //for delete the data
    public async Task DeleteClicked(Country con)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {con.Name} ?", "Confirm Delete");
        if (!confirm) return;

        var response = await countryService.Delete(con.Id, Constants.CountryBaseUrl);
        if (await DisplayMessage(response.Flag, response.Message))

            await GetCountry();

    }





    //for displaying message and flag
    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;

        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }


    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
