﻿
<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title Department</Header>

        <Content>
            <EditForm Model="Department" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                         <div class="form-group">
                            <label class="form-lable">Id</label>
                            <input @bind="Department.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-lable">Department Name</label>
                            <InputText @bind-Value="Department.Name" class="form-control" />
                        </div>

                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">General Department</label>
                            @if (Department.GeneralDepartment != null)
                            {
                                string? selected = Department.GeneralDepartment!.Name;
                                <SfDropDownList TValue="int" TItem="GeneralDepartment" Placeholder="@selected" DataSource="GeneralDepartments" @bind-Value="Department.GeneralDepartmentId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="GeneralDepartment" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>

                                @* <SfDropDownList TValue="string" TItem="GeneralDepartment" Placeholder="@selected" DataSource="GeneralDepartments">
                                    <DropDownListFieldSettings Value="Id" Text="Name" ></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="GeneralDepartment" ValueChange="OnValueChange" ></DropDownListEvents>
                                </SfDropDownList> *@
                            }
                            else
                            {
                                <SfDropDownList TItem="GeneralDepartment" TValue="string" Placeholder="Select General Depaertment" DataSource="GeneralDepartments">
                                    <DropDownListFieldSettings Value="GeneralDepartmentId" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="GeneralDepartment" ValueChange="OnValueChange" />

                                </SfDropDownList>
                            }
                        </div>
                        
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>

@code {


    [Parameter] public Department Department { get; set; } = new();

    [Parameter] public List<GeneralDepartment> GeneralDepartments { get; set; } = new();

    [Parameter] public EventCallback<Department> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;

    public string Title { get; set; } = "Add";

    public async void Save()
    {
        if (string.IsNullOrEmpty(Department.Name) || Department.GeneralDepartmentId <= 0)
        {
            await DialogServices.AlertAsync("You need to provide Department name.", "Alert!");

        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(Department);

        }
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }


    public void ChangeTitle(string title)
    {
        Title = title;
    }

    public void OnValueChange(ChangeEventArgs<int, GeneralDepartment> args)
    {
        // Update the DepartmentId
        Department.GeneralDepartmentId = args.Value;

        // Update the Department object
        Department.GeneralDepartment = GeneralDepartments.FirstOrDefault(dep => dep.Id == args.Value);

        // Refresh the UI
        StateHasChanged();
    }

    public void OnValueChange(ChangeEventArgs<string, GeneralDepartment> args)
    {
        Department.GeneralDepartmentId = int.Parse(args.Value);
    }
}
