﻿
@implements IDisposable

@if (allState.ShowEmployee)
{


    @if (ShowMainPage)
    {
        <div class="container-fuild mt-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-outline-success float-end" @onclick="ShowAddorUpdateEmployee">
                                <i class="bi bi-plus-circle-dotted"></i>
                                Add Employee
                            </button>
                        </div>

                        <div class="card-body">
                            @{
                                var tool = (new List<string>() { "Search", "ExcelExport", "PdfExport", "Pirnt" });
                            }
                            @if (Employees != null && Employees.Any())
                            {
                                    <SfGrid DataSource="@Employees" AllowPaging="true" AllowSorting="true" Toolbar=@tool
                                            AllowExcelExport="true" @ref="DefaultGrid" AllowPdfExport="true" PageSize="10">
                                    <GridColumns>
                                        <GridColumn HeaderText="Employee Image" Width="50">
                                            <Template>
                                                @{
                                                    var employee = (context as Employee);
                                                    if (employee?.Photo != null)
                                                    {
                                                        <div class="image" id="image">
                                                            <img src="@employee!.Photo" alt="@employee.Name" width="30" height="30" />
                                                        </div>
                                                    }
                                                }
                                            </Template>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(Employee.Name)" HeaderText="Name" Width="50"></GridColumn>
                                        <GridColumn Field="@nameof(Employee.CivilId)" HeaderText="Civil ID" Width="50"></GridColumn>
                                        <GridColumn Field="@nameof(Employee.FileNumber)" HeaderText="File Number" Width="50"></GridColumn>
                                        <GridColumn Field="@nameof(Employee.JobName)" HeaderText="Job Name" Width="50"></GridColumn>
                                        <GridColumn Field="@nameof(Employee.TelephoneNumber)" HeaderText="Telephone Number" Width="50"></GridColumn>
                                        <GridColumn Field="@nameof(Employee.Address)" HeaderText="Address" Width="50"></GridColumn>
                                        <GridColumn HeaderText="Branch" Width="50">
                                            <Template>
                                                @{
                                                    var branch = (context as Employee)?.Branch;
                                                    <div>@branch?.Name</div>
                                                }
                                            </Template>
                                        </GridColumn>
                                        <GridColumn HeaderText="Town" Width="50">
                                            <Template>
                                                @{
                                                    var town = (context as Employee)?.Town;
                                                    <div>@town?.Name</div>
                                                }
                                            </Template>
                                        </GridColumn>
                                        <GridColumn HeaderText="Menu" Width="50">
                                            <Template>
                                                @{
                                                    var employee = (context as Employee);
                                                    <i class="bi bi-menu-down text-primary" id="cursorStyle" @onclick="()=>ShowMenupopUp(employee!)"></i>
                                                }
                                            </Template>
                                        </GridColumn>
                                    </GridColumns>
                                    

                                </SfGrid>
                            }
                            else
                            {
                                <p>Loading employees...</p>
                            }
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    }




    


}



<EmployeeDetails 
    EmployeeDetail="Employee"
    ShowDetailsPage="ShowDetailsPage"
                 HandleDetailsPageCloseBtnClicked="HandleDetailsPageCloseBtnClicked">

</EmployeeDetails>

<AddOrUpdateEmployeePage @ref="addorupdateEmploee"
                         ShowAddorUpdateEmploee="ShowAddorUpdatepage"
                         Cities="DefaultCities"
                         Branches="DefaultBranches"
                         Countries="DefaultCountries"
                         Departments="DefaultDepartments"
                         Employee="Employee"
                         Towns="DefaultTowns"
                         GeneralDepartments="DefaultGeneralDepartments"
                         HandleCitySelectEvent="HandleCitySelectEvent"
                         HandleCountrySelectEvent="HandleCountrySelectEvent"
                         HandleDepartmentSelectEvent="HandleDepartmentSelectEvent"
                         HandleGeneralDepartmentSelectEvent="HandleGeneralDepartmentSelectEvent"
                         HandleSaveEmployeeClickedEvent="HandleSaveEmployeeClickedEvent"
                         NotifyParentFormClosdeClicked="NotifyParentFormClosdeClicked">
</AddOrUpdateEmployeePage>
    


<DoctorDialog @ref="doctorDialog"
    Doctor="Doctor"
    HandleSaveOperation="SaveHealthEvent"/>

<OverTimeDialog
    @ref="overTimeDialog"
    HandleSaveOperationEvent="SaveOverTimeEvent"
    ItemModel="overTime"
    OvertimeTypes="overtimeTypes" />

<SanctionDialog @ref="sanctionDialog"
    HandleSaveOperationEvent="SaveSanctionEvent"
    ItemModel="sanction"
    sanctionTypes="sanctionType" />

<VacationDialog @ref="vacationDialog" 
    HandleSaveOperationEvent="SaveVacationEvent"
    ItemModel="vacation"
    vacationTypes="vacations" />

<ContextMenu 
    @ref="contextMenu"
    HandleViewClicked="ViewClicked"
    HandleDeleteClicked="DeleteClicked"
    HandleEditClicked="EditClicked"
    HandleHealthClicked="AddHealthClicked" />


@* <ContextMenu @ref="contextMenu"
             HandleViewClicked="ViewClicked"
             HandleDeleteClicked="DeleteClicked"
             HandleEditClicked="EditClicked"
             HandleHealthClicked="HealthClicked"
             HandleOverTimeClicked="AddOverTimeClicked"
             HandleSanctionClicked="AddSanctionClicked"
             HandleVacationClicked="AddVacationClicked" /> *@



<style>
    #image img {
        border-radius: 50%; /* Makes the image circular */
        width: 40px; /* Sets the width to 30px */
        height: 40px; /* Sets the height to 30px */
        object-fit: cover; /* Ensures the image fits the circle without distortion */
        border: 2px solid #ccc; /* Optional: Adds a light border around the circle */
    }

</style>

@code {
    private SfGrid<Employee>? DefaultGrid;

    public AddOrUpdateEmployeePage? addorupdateEmploee;
    public Employee Employee { get; set; } = new();

    public List<Employee> Employees { get; set; } = new();

    public List<Country> DefaultCountries { get; set; } = new();
    public List<City> DefaultCities { get; set; } = new();
    public List<Town> DefaultTowns { get; set; } = new();

    public List<GeneralDepartment> DefaultGeneralDepartments { get; set; } = new();
    public List<Branch> DefaultBranches { get; set; } = new();
    public List<Department> DefaultDepartments { get; set; } = new();

    public List<Branch> SelectedBranches { get; set; } = new();
    public List<Department> SelectedDepartments { get; set; } = new();
    public List<City> Selectedcitys { get; set; } = new();
    public List<Town> Selectedtowns { get; set; } = new();



    protected async override Task OnInitializedAsync()
    {
        allState.Action += StateHasChanged;
        await GetvacationsTypes();
        await GetSanctionTypes();
        await GetOverTimeTypes();
        await LoadEmployee();
        await LoadDefault();
    }

    private async Task LoadEmployee()
    {
        try
        {
            Employees = await employeeService.GetAll(Constants.EmployeeBaseUrl);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading employees: {ex.Message}");
        }
    }

    private async Task LoadDefault()
    {
        DefaultCountries = await countryService.GetAll(Constants.CountryBaseUrl);
        DefaultCities = await cityService.GetAll(Constants.CityBaseUrl);
        DefaultTowns = await townService.GetAll(Constants.TownBaseUrl);
        DefaultGeneralDepartments = await generalDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
        DefaultDepartments = await departmentService.GetAll(Constants.DepartmentBaseUrl);
        DefaultBranches = await branchService.GetAll(Constants.BranchBaseUrl);
    }

    private void HandleCountrySelectEvent(int CountryId)
    {
        Selectedcitys = DefaultCities.Where(c => c.CountryId == CountryId).ToList();
    }

    private void HandleCitySelectEvent(int CityId)
    {
        Selectedtowns = DefaultTowns.Where(c => c.CityId == CityId).ToList();
    }

    private void HandleGeneralDepartmentSelectEvent(int genralId)
    {
        SelectedDepartments = DefaultDepartments.Where(c => c.GeneralDepartmentId == genralId).ToList();
    }

    private void HandleDepartmentSelectEvent(int departId)
    {
        SelectedBranches = DefaultBranches.Where(c => c.DepartmentId == departId).ToList();
    }

    public async Task HandleSaveEmployeeClickedEvent(Employee employee)
    {
        if (employee == null)
        {
            Console.WriteLine("Employee object is null");
            return;
        }

        bool successCheck = false;
        if (employee.Id > 0)
        {
            var result = await employeeService.Update(employee, Constants.EmployeeBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var result = await employeeService.Insert(employee, Constants.EmployeeBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        if (successCheck && addorupdateEmploee != null)
        {
            addorupdateEmploee.ClearContent();
        }
    }

    private async Task NotifyParentFormClosdeClicked()
    {
        ShowMainPage = true;
        ShowAddorUpdatepage = false;
        await LoadEmployee();
        SelectedEmployee = new();
    }

    public bool ShowMainPage { get; set; } = true;
    public bool ShowAddorUpdatepage { get; set; } = false;

    void ShowAddorUpdateEmployee()
    {
        ShowMainPage = false;
        ShowAddorUpdatepage = true;
    }

    //show menus
    public Employee SelectedEmployee { get; set; } = new();
    ContextMenu? contextMenu;
    public void ShowMenupopUp(Employee employee)
    {
        SelectedEmployee = employee;
        contextMenu!.OpenContextMenu();
    }



    //editbutton
    void EditClicked()
    {
        //empgrp1
        addorupdateEmploee!.Employee.Id = SelectedEmployee.Id;
        addorupdateEmploee!.employeeGroup1.Name = SelectedEmployee.Name;
        addorupdateEmploee!.employeeGroup1.TelePhoneNumber = SelectedEmployee.TelephoneNumber;
        addorupdateEmploee!.employeeGroup1.FileNumber = SelectedEmployee.FileNumber;
        addorupdateEmploee!.employeeGroup1.Address = SelectedEmployee.Address;
        addorupdateEmploee!.employeeGroup1.Photo = SelectedEmployee.Photo;
        addorupdateEmploee!.employeeGroup1.CivilId = SelectedEmployee.CivilId;

        //empgrp2
        addorupdateEmploee!.employeeGroup2.JobName = SelectedEmployee.JobName;
        addorupdateEmploee!.employeeGroup2.Other = SelectedEmployee.Others;

        addorupdateEmploee!.General = SelectedEmployee.Branch!.Department!.GeneralDepartment!.Name;
        addorupdateEmploee!.department = SelectedEmployee.Branch!.Department!.Name;
        addorupdateEmploee!.branch = SelectedEmployee.Branch!.Name;


        addorupdateEmploee!.country = SelectedEmployee.Town!.City!.Country!.Name;
        addorupdateEmploee!.city = SelectedEmployee.Town!.City!.Name;
        addorupdateEmploee!.town = SelectedEmployee.Town!.Name;

        addorupdateEmploee.title="Update";
        contextMenu!.CloseContextMenu();
        ShowAddorUpdatepage = true;
        ShowMainPage = false;
        SelectedEmployee = new();
    }

    //Deleted clicked
    private async Task DeleteClicked()
    {
        contextMenu!.CloseContextMenu();
        bool confirm = await DialogServices.ConfirmAsync("Are you Sure You want to Delete ?","confirm Delete");
        if (!confirm) return;


        var response = await branchService.Delete(SelectedEmployee.Id, Constants.EmployeeBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);

        if(result)
        {
            SelectedEmployee =new();
            await LoadEmployee();

        }
    }

    //view clicked
    public bool ShowDetailsPage { get; set; } = false;
    private void ViewClicked()
    {
        Employee=SelectedEmployee;
        contextMenu!.CloseContextMenu();
        ShowDetailsPage =true;
        ShowMainPage = false;
        SelectedEmployee = new();
    }

    private async Task GetOverTimeTypes() => overtimeTypes = await overtimeTypeService.GetAll(Constants.OvertimeTypeBaseUrl);
    private async Task GetSanctionTypes() => sanctionType = await sanctionTypeService.GetAll(Constants.SanctionTypeBaseUrl);
    private async Task GetvacationsTypes() => vacations = await vacationTypeService.GetAll(Constants.VacationTypeBaseUrl);




    //doctor opem
    public Doctor Doctor { get; set; }
    DoctorDialog? doctorDialog;

    private void AddHealthClicked()
    {
        Doctor.EmployeeeId = SelectedEmployee.Id;
        contextMenu!.CloseContextMenu();
        doctorDialog!.OpenDialog();
    }

    async Task SaveHealthEvent(Doctor item)
    {
        item.EmployeeeId = SelectedEmployee.Id;
        var (flag,message)= await doctorService.Insert(item, Constants.DoctorBaseUrl);
        var response = await DisplayMessage(flag, message);
        if(response)
        {
            SelectedEmployee=new();
            Doctor=new();
            doctorDialog.CloseDialog();
        }

    }
    //doctor close


    //overtime place
    public OverTime overTime = new();
    List<OvertimeType> overtimeTypes =[];
    OverTimeDialog? overTimeDialog;
    //Add overTime Clicked
    private void AddOverTimeClicked()
    {
        overTime.EmployeeeId = SelectedEmployee.Id;
        contextMenu!.CloseContextMenu();
        overTimeDialog.openDialog();
    }
    async void SaveOverTimeEvent(OverTime item)
    {
        item.EmployeeeId = SelectedEmployee.Id;
        var (flag, message) = await overTimeService.Insert(item, Constants.OvertimeBaseUrl);
        var response = await DisplayMessage(flag, message);
        if (response)
        {
            SelectedEmployee = new();
            overTime = new();
            overTimeDialog.closeDialog();
        }
    }

    //sanction
    public Sanction sanction = new();
    public List<SanctionType> sanctionType = [];
    SanctionDialog? sanctionDialog;
    //Add sanction Clicked
    private void AddSanctionClicked()
    {
        sanction.EmployeeeId = SelectedEmployee.Id;
        contextMenu!.CloseContextMenu();
        sanctionDialog.openDialog();
    }
    async void SaveSanctionEvent(Sanction item)
    {
        item.EmployeeeId = SelectedEmployee.Id;
        var (flag, message) = await sanctionService.Insert(item, Constants.SanctionBaseUrl);
        var response = await DisplayMessage(flag, message);
        if (response)
        {
            SelectedEmployee = new();
            overTime = new();
            sanctionDialog.closeDialog();
        }
    }

//Vacation
    public Vacation vacation = new();
    public List<VacationType> vacations = [];
    VacationDialog? vacationDialog;
    //Add vacation Clicked
    private void AddVacationClicked()
    {
        sanction.EmployeeeId = SelectedEmployee.Id;
        contextMenu!.CloseContextMenu();
        vacationDialog.openDialog();
    }
    async void SaveVacationEvent(Vacation item)
    {
        item.EmployeeeId = SelectedEmployee.Id;
        var (flag, message) = await vacationService.Insert(item, Constants.VacationBaseUrl);
        var response = await DisplayMessage(flag, message);
        if (response)
        {
            SelectedEmployee = new();
            overTime = new();
            vacationDialog.closeDialog();
        }
    }








    //closeDetail Page
    void HandleDetailsPageCloseBtnClicked()
    {
        ShowDetailsPage=false;
        ShowMainPage = true;
    }

    public async Task ToolbarClickedHandle(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "Excel EXport")
            await this.DefaultGrid!.ExcelExport();


        if (args.Item.Text == "PDF EXport")
            await this.DefaultGrid!.PdfExport();
    }



    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
