﻿@using ClientLibrary.Helpers
@implements IDisposable
@if(allState.ShowGeneralDepartment)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">General Department</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add Department
                        </button>
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">General Department</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(GeneralDepartments is not null)
                                    {
                                        int count = 1;
                                        foreach(var item in GeneralDepartments)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info"
                                                    id="cursorStyle" @onclick="()=>EditClicked(item)"> </i>
                                                    <i class="bi bi-trash text-danger"
                                                       id="cursorStyle" @onclick="()=>DeleteClicked(item)"> </i>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                        
                                    }
                                    else
                                    {
                                        <tr colspan="4">
                                            <td>
                                                <div class="alert alert-info text-center">No General Department Added yet!!</div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
  }

<GeneralDepartmentDialog @ref="generalDepartmentDialog" 
    HandleSaveOperationEvent="HandleSaveOperationEvent"
                         Generaldepartment="GeneralDepartment" />





<style>
    .cursorStyle{
        cursor:pointer;
    }
</style>

@code {
    GeneralDepartmentDialog? generalDepartmentDialog;
    GeneralDepartment GeneralDepartment = new();
    public string Title { get; set; } = "Add";
    public List<GeneralDepartment> GeneralDepartments{ get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetGeneralDepartment();
        allState.Action += StateHasChanged;
    }

    private async Task GetGeneralDepartment()
    {
        GeneralDepartments = await generalDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
    }

    void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialog();
    }

    //for insert and update the data
    public async Task HandleSaveOperationEvent(GeneralDepartment generaldepartment)
    {

        bool successCheck = false;
        if (generaldepartment.Id > 0)
        {
            var result = await generalDepartmentService
            .Update(generaldepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(result.Flag,result.Message);

        }
        else
        {
            var response = await generalDepartmentService
            .Insert(generaldepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);


        }
        if(successCheck)
        {
            GeneralDepartment = new();
            await GetGeneralDepartment();
            generalDepartmentDialog?.ChangeTitle("Add");
        }
    }
    //for update the table
    private void EditClicked(GeneralDepartment dep)
    {
        generalDepartmentDialog?.ChangeTitle("Update");
        GeneralDepartment = dep;
        OpenDialog();
    }
    
    //for delete the data
    public async Task DeleteClicked(GeneralDepartment dep)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {dep.Name} ?", "Confirm Delete");
        if (!confirm) return;

        var response= await generalDepartmentService.Delete(dep.Id, Constants.GeneralDepartmentBaseUrl);
        if(await DisplayMessage(response.Flag,response.Message))
        
            await GetGeneralDepartment();
        
    }


    


    //for displaying message and flag
    private async Task<bool> DisplayMessage(bool flag,string Message)
    {
        if(flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;

        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }


    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
