﻿

<SfDialog Width="250px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    
    
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title General Department</Header>

        <Content>
            <EditForm Model="Generaldepartment" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-group">Name</label>
                            <InputText @bind-Value="Generaldepartment.Name" class="form-control" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>

@code {
    [Parameter] public GeneralDepartment Generaldepartment { get; set; } = new();

    [Parameter] public EventCallback<GeneralDepartment> HandleSaveOperationEvent{ get; set;}

    public bool IsVisible { get; set; } = false;

    public string Title { get; set; } = "Add";

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    async void Save()
    {
        if (string.IsNullOrEmpty(Generaldepartment.Name))
        {
            await DialogServices.AlertAsync("You need to provide Department name.", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(Generaldepartment);
        }
    }


    public void ChangeTitle(string title)
    {
        Title = title;
    }
}
