﻿@page "/"
@layout MainLayout
@code{
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var user = (await AuthenticationState).User;
        if (user.Identity!.IsAuthenticated)
        {
            NavManager.NavigateTo("/home/dashboard");
        }
        else
        {
            NavManager.NavigateTo("/identity/account/login");
        }
    }
}

@*  @page "/"
 @layout MainLayout

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. 
 *@