﻿@page "/home/dashboard"

@using Clients.Pages.AdministrationPages
@using Clients.Pages.DepartmentPages
@layout MainLayout
<TableBanner />

<GeneralDepartmentpage />

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }



    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (!isUserAuthenticated)
        NavManager.NavigateTo("identity/account/login");
        
    }
}
