﻿@using Syncfusion.Blazor.DropDowns

<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title City</Header>

        <Content>
            <EditForm Model="City" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-lable">Id</label>
                            <input @bind="City.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-lable">City Name</label>
                            <InputText @bind-Value="City.Name" class="form-control" />
                        </div>

                        <div class="form-group mt-3 mb-3">
                            <label class="form-label"> Select City </label>
                            @if (City.Country != null)
                            {
                                string? selected = City.Country!.Name;

                                <SfDropDownList TValue="int" TItem="Country" Placeholder="@selected" DataSource="Countrys" @bind-Value="City.CountryId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="Country" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>


                            }
                            else
                            {
                                <SfDropDownList TItem="Country" TValue="string" Placeholder="Select City" DataSource="Countrys">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="Country" ValueChange="OnValueChange" />

                                </SfDropDownList>
                            }
                        </div>

                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>


@code {
    [Parameter] public City City { get; set; } = new();

    [Parameter] public List<Country> Countrys { get; set; } = new();

    [Parameter] public EventCallback<City> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;

    public string Title { get; set; } = "Add";

    public async void Save()
    {
        if (string.IsNullOrEmpty(City.Name) || City.CountryId <= 0)
        {
            await DialogServices.AlertAsync("You need to provide City name ?", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(City);
            StateHasChanged();

        }
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }


    public void ChangeTitle(string title)
    {
        Title = title;
    }
    public void OnValueChange(ChangeEventArgs<int, Country> args)
    {
        // Update the DepartmentId
        City.CountryId = args.Value;

        // Update the Department object
        City.Country = Countrys.FirstOrDefault(dep => dep.Id == args.Value);

        // Refresh the UI
        StateHasChanged();
    }
    public void OnValueChange(ChangeEventArgs<string, Country> args)
    {
        City.CountryId = int.Parse(args.Value);
    }
}
