﻿@using ClientLibrary.Helpers
@implements IDisposable

@if (allState.ShowCity)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">City</h4>
                        <button class="btn btn-outline-success float-end" @onclick="AddButtonClicked">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add City
                        </button>
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col"> Country</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Citys is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in Citys)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.Country?.Name</td> <!-- Handle potential null reference -->
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info cursorStyle" @onclick="() => EditClicked(item)"> </i>
                                                    <i class="bi bi-trash text-danger cursorStyle" @onclick="() => DeleteClicked(item)"> </i>
                                                </td>
                                            </tr>
                                        }
                                        count++;

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="alert alert-info text-center">No City Added yet!!</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<CityDialog @ref="CityDialog"
              HandleSaveOperationEvent="HandleSaveOperationEvent"
              City="City"
            Countrys="Countrys" />

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

@code {
    public string Title { get; set; } = "Add";

    CityDialog? CityDialog;
    City City = new();
    public List<City> Citys { get; set; } = new();

    public List<Country> Countrys { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetCity();
        await GetGeneralCity();
        allState.Action += StateHasChanged;
    }

    private async Task GetCity()
    {
        Citys = await cityService.GetAll(Constants.CityBaseUrl);

    }

    private async Task GetGeneralCity()
    {
        Countrys = await countryService.GetAll(Constants.CountryBaseUrl);
    }

    public void AddButtonClicked()
    {
        CityDialog?.ChangeTitle("Add");
        City = new();
        OpenDialog();
    }

    void OpenDialog()
    {
        CityDialog?.OpenDialog();
    }

    public async Task HandleSaveOperationEvent(City City)
    {
        bool successCheck = false;
        if (City.Id > 0)
        {
            var result = await cityService.Update(City, Constants.CityBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var response = await cityService.Insert(City, Constants.CityBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if (successCheck)
        {
            City = new();
            await GetCity();
            CityDialog?.ChangeTitle("Add");
        }
    }

    private void EditClicked(City dep)
    {
        CityDialog?.ChangeTitle("Update");
        City = dep;
        OpenDialog();
    }

    public async Task DeleteClicked(City dep)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {dep.Name}?", "Confirm Delete");
        if (!confirm) return;

        var response = await cityService.Delete(dep.Id, Constants.CityBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
            await GetCity();
    }


    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
