﻿@using Syncfusion.Blazor.DropDowns

<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title Town</Header>

        <Content>
            <EditForm Model="Town" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-lable">Id</label>
                            <input @bind="Town.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-lable">Town Name</label>
                            <InputText @bind-Value="Town.Name" class="form-control" />
                        </div>

                        <div class="form-group mt-3 mb-3">
                            <label class="form-label"> Select City </label>
                            @if (Town.City != null)
                            {
                                string? selected = Town.City!.Name;

                                <SfDropDownList TValue="int" TItem="City" Placeholder="@selected" DataSource="Citys" @bind-Value="Town.CityId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="City" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>


                            }
                            else
                            {
                                <SfDropDownList TItem="City" TValue="string" Placeholder="Select Town" DataSource="Citys">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="City" ValueChange="OnValueChange" />

                                </SfDropDownList>
                            }
                        </div>

                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>


@code {
    [Parameter] public Town Town { get; set; } = new();

    [Parameter] public List<City> Citys { get; set; } = new();

    [Parameter] public EventCallback<Town> HandleSaveOperationEvent { get; set; }

    public bool IsVisible { get; set; } = false;

    public string Title { get; set; } = "Add";

    public async void Save()
    {
        if (string.IsNullOrEmpty(Town.Name) || Town.CityId <= 0)
        {
            await DialogServices.AlertAsync("You need to provide Town name ?", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(Town);
            StateHasChanged();

        }
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }


    public void ChangeTitle(string title)
    {
        Title = title;
    }
    public void OnValueChange(ChangeEventArgs<int, City> args)
    {
        // Update the DepartmentId
        Town.CityId = args.Value;

        // Update the Department object
        Town.City = Citys.FirstOrDefault(dep => dep.Id == args.Value);

        // Refresh the UI
        StateHasChanged();
    }
    public void OnValueChange(ChangeEventArgs<string, City> args)
    {
        Town.CityId = int.Parse(args.Value);
    }
}