﻿@using ClientLibrary.Helpers
@implements IDisposable

@if (allState.ShowTown)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Town</h4>
                        <button class="btn btn-outline-success float-end" @onclick="AddButtonClicked">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add Town
                        </button>
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Town</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Towns is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in Towns)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.City?.Name</td> <!-- Handle potential null reference -->
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info cursorStyle" @onclick="() => EditClicked(item)"> </i>
                                                    <i class="bi bi-trash text-danger cursorStyle" @onclick="() => DeleteClicked(item)"> </i>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                       

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="alert alert-info text-center">No City Added yet!!</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<TownDailog @ref="TownDialog"
            HandleSaveOperationEvent="HandleSaveOperationEvent"
            Town="town"
            Citys="Citys" />

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

@code {
    public string Title { get; set; } = "Add";

    TownDailog? TownDialog;
    Town town = new();
    public List<Town> Towns { get; set; } = new();

    public List<City> Citys { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetTown();
        await GetCity();
        allState.Action += StateHasChanged;
    }

    private async Task GetTown()
    {
        Towns = await townService.GetAll(Constants.TownBaseUrl);

    }

    private async Task GetCity()
    {
        Citys = await cityService.GetAll(Constants.CityBaseUrl);
    }

    public void AddButtonClicked()
    {
        TownDialog?.ChangeTitle("Add");
        town = new();
        OpenDialog();
    }

    void OpenDialog()
    {
        TownDialog?.OpenDialog();
    }

    public async Task HandleSaveOperationEvent(Town Town)
    {
        bool successCheck = false;
        if (Town.Id > 0)
        {
            var result = await townService.Update(Town, Constants.TownBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var response = await townService.Insert(Town, Constants.TownBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if (successCheck)
        {
            Town = new();
            await GetTown();
            TownDialog?.ChangeTitle("Add");
        }
    }

    private void EditClicked(Town dep)
    {
        TownDialog?.ChangeTitle("Update");
        town = dep;
        OpenDialog();
    }

    public async Task DeleteClicked(Town dep)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {dep.Name}?", "Confirm Delete");
        if (!confirm) return;

        var response = await townService.Delete(dep.Id, Constants.TownBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (result)
            await GetTown();
    }


    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
