﻿

<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="openDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title Employee's OverTime </Header>

        <Content>
            <EditForm Model="ItemModel" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-lable">Employee Id</label>
                            <input @bind="ItemModel.EmployeeeId" class="form-control" disabled />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-lable">Start Date</label>
                            <InputDate @bind-Value="ItemModel.StartDate" class="form-control" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-lable">End Date</label>
                            <InputDate @bind-Value="ItemModel.EndDate" class="form-control" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-lable">End Date</label>
                            <input value="ItemModel.NumberofDays" class="form-control" disabled/>
                        </div>
                        

                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Type</label>
                            @if (ItemModel.OvertimeType != null)
                            {
                                string? selected = ItemModel.OvertimeType!.Name;
                                <SfDropDownList TValue="int" TItem="OvertimeType" Placeholder="@selected" DataSource="OvertimeTypes" @bind-Value="ItemModel.OvertimeTypeId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="OvertimeType" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TValue="int" TItem="OvertimeType" Placeholder="Select Type" DataSource="OvertimeTypes" @bind-Value="ItemModel.OvertimeTypeId">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="OvertimeType" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        </div>
                        

                       

                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>

</SfDialog>


@code {
    [Parameter] public OverTime ItemModel { get; set; } = new();
    [Parameter] public List<OvertimeType> OvertimeTypes { get; set; } = new();
    [Parameter]public EventCallback<OverTime> HandleSaveOperationEvent { get; set; }
    public String Title { get; set; } = "Add";
    private bool IsVisible { get; set; } = false;
    private async void Save()
    {
        if(ItemModel.OvertimeTypeId<=0)
        {
            await DialogServices.AlertAsync("You need to Provide type.", "Alert!");

        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(ItemModel);
        }
    }
    public void openDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }
    public void closeDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    // public void OnValueChnage(ChangeEventArgs<string,OvertimeType>args)
    // {
    //     ItemModel.OvertimeTypeId = int.Parse(args.Value.ToString());
    // }

    public void ChangeTitle(string title)
    {
        Title = title;
    }

    public void OnValueChange(ChangeEventArgs<int, OvertimeType> args)
    {
        // Update the DepartmentId
        ItemModel.OvertimeTypeId = args.Value;

        // Update the Department object
        ItemModel.OvertimeType = OvertimeTypes.FirstOrDefault(dep => dep.Id == args.Value);

        // Refresh the UI
        StateHasChanged();
    }

    public void OnValueChange(ChangeEventArgs<string, OvertimeType> args)
    {
        ItemModel.OvertimeTypeId = int.Parse(args.Value);
    }


    




     private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;
        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
