﻿@if (allState.showOverTimeType)
{
    <div class="container-fuild mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Sanction Types</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add Type</button>
                    </div>

                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll">

                        <div class="card-body">
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @if (types is not null)
                                    {
                                        int count = 1;
                                        foreach(var item in types)
                                        {
                                          <tr>
                                              <th scope="row">@count</th>
                                              <th>@item.Id</th>
                                              <th>@item.Name</th>
                                              <td>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle" @onclick="()=>EditClicked(item)"></i>
                                                    <i class="bi bi-trash text-info" id="cursorStyle" @onclick="()=>DeleteClicked(item)"></i>

                                              </td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <div class="alert alert-info text-center">NO Types Added</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>


@code {
    OvertimeTypeDialog? overTimeDialog;
    OvertimeType overtimeType = new();

    public string Title { get; set; } = "Add";
    public List<OvertimeType> types { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetTypes();
        allState.Action += StateHasChanged;
    }

    private async Task GetTypes() => types = await overtimeTypeService.GetAll(Constants.OvertimeTypeBaseUrl);

    public void OpenDialog()
    {
        overTimeDialog?.OpenDialog();
    }

    private async Task HandleSaveOperationEvent(OvertimeType item)
    {
        bool successCheck = false;
        if (item.Id > 0)
        {
            var result = await overtimeTypeService
            .Update(item, Constants.OvertimeTypeBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);

        }
        else
        {
            var response = await overtimeTypeService
            .Insert(item, Constants.OvertimeTypeBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);


        }
        if (successCheck)
        {
            overtimeType = new();
            overTimeDialog?.ChangeTitle("Add");
            await GetTypes();
            StateHasChanged();

        }
    }



    public void CloseDialog()
    {
        StateHasChanged();
    }


    void EditClicked( OvertimeType item)
    {
        overTimeDialog?.ChangeTitle("Update");
        overtimeType = item;
        OpenDialog();
    }


    async Task DeleteClicked(OvertimeType item)
    {
        bool confirm = await DialogServices.ConfirmAsync($"Are you sure you wanna delete {item.Name} ?", "Confirm Delete");
        if (!confirm) return;

        var response = await overtimeTypeService.Delete(item.Id, Constants.OvertimeTypeBaseUrl);
        if (await DisplayMessage(response.Flag, response.Message))

            await GetTypes();

    }


    //for displaying message and flag
    private async Task<bool> DisplayMessage(bool flag, string Message)
    {
        if (flag)
        {
            await DialogServices.AlertAsync(Message, "Success Operation");
            return true;

        }
        else
        {
            await DialogServices.AlertAsync(Message, "Alert!");
            return false;
        }
    }


    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }



}
