﻿@page "/identity/account/login"
@using Client.Pages.Otherpages
@layout AuthenticationLayout
@inject IJSRuntime JSRuntime
<script src="js/Login.js" defer></script>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <EditForm Model="RegisterUser" OnValidSubmit="HandleRegister">
            <h1>Create Account</h1>
            <DataAnnotationsValidator />
            <div class="social-container">
                <a href="#" class="social">
                    <i class="bi bi-facebook text-primary" style="cursor:pointer"></i>
                </a>
                <a href="#" class="social">
                    <i class="bi bi-google   text-danger" style="cursor:pointer" ></i>
                </a>
                <a href="#" class="social">
                    <i class="bi bi-linkedin   text-primary" style="cursor:pointer"></i>
                </a>
            </div>
            <span>or Use Your Email For Registration</span>
            <InputText @bind-Value="RegisterUser.FullName" placeholder="Name" class="form-control" />

            <InputText @bind-Value="RegisterUser.Email" placeholder="Email" class="form-control" />

            <InputText @bind-Value="RegisterUser.Password" placeholder="Password" type="password" class="form-control" />
            <InputText @bind-Value="RegisterUser.ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" />
            <button type="submit">Sign Up</button>
        </EditForm>
    </div>
    <div class="form-container sign-in-container">
        <EditForm Model="User" OnValidSubmit="HandleLogin">
            <h1>Sign in</h1>
            <DataAnnotationsValidator />
            <div class="social-container">
                <a href="#" class="social">
                    <i class="bi bi-facebook   text-primary" style="cursor:pointer"></i>
                </a>
                <a href="#" class="social">
                    <i class="bi bi-google   text-danger" style="cursor:pointer" ></i>
                </a>
                <a href="#" class="social">
                    <i class="bi bi-linkedin   text-primary" style="cursor:pointer"></i>
                </a>
            </div>
            <span>or Use Your Account</span>
            <InputText @bind-Value="User.Email" placeholder="Email" class="form-control" />
            <InputText @bind-Value="User.Password" placeholder="Password" type="password" class="form-control" />
            <ValidationSummary />
            <button type="submit">Login</button>
        </EditForm>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                @* <button class="ghost" id="signIn">Sign In</button> *@
                <button @onclick="SignInClicked" id="signIn">Sign In</button>


            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Explorer!</h1>
                <p>Enter your personal details and start journey with us</p>
                @* <button class="ghost" id="signUp">Sign Up</button> *@

                <button @onclick="SignUpClicked" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>

</div>

<style>
    body {
        background: #615EFC;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        height: 100vh;
        margin: -20px 0 50px;
        overflow: hidden;
    }
</style>

@code {
    public Login User { get; set; } = new Login();
    public Register RegisterUser { get; set; } = new Register();
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }


    public bool showloadingbutton { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        await CheckUserAuthentication();

    }


    //javascript for sliding

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            try
            {
                await JSRuntime.InvokeVoidAsync("loadCustomScript");
                Console.WriteLine("JavaScript function loadCustomScript called");
            }
            catch (Exception ex)
            {
                Console.Error.WriteLine($"Error invoking JavaScript interop: {ex.Message}");
            }
        }
    }
    
    private async Task SignUpClicked()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("signUpButtonClicked");
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error invoking JavaScript function: {ex.Message}");
        }
    }

    private async Task SignInClicked()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("signInButtonClicked");
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error invoking JavaScript function: {ex.Message}");
        }
    }
    //end here for sliding which include login.js// index.html //login.css//javascriptinterop.cs

    
    public async Task HandleLogin()
    {
        showloadingbutton = true;
        var result = await accountService.SignInAsync(User);
        if (result.Flag)
        {
            await DisplayDialog(result.Message, "Login Success");

            var customAuthstateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            await customAuthstateProvider.UpdateAuthenticationState(new UserSession()
                {
                    Token = result.Token,
                    RefreshToken = result.RefreshToken
                });
            NavManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            await DisplayDialog(result.Message, "Alert");
        }

        showloadingbutton = false;
    }

    public async Task HandleRegister()
    {
        showloadingbutton = true;
        var result = await accountService.CreateAsync(RegisterUser);
        if (result.Flag)
        {
            await DisplayDialog(result.Message, "Registration Success");
            NavManager.NavigateTo("/identity/account/login", forceLoad: true);
        }
        else
        {
            await DisplayDialog(result.Message, "Alert");
        }

        showloadingbutton = false;
    }


  


    private async Task DisplayDialog(string content, string title)
    {
        await DialogServices.AlertAsync(content, title);
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState!).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (isUserAuthenticated)
        {
            NavManager.NavigateTo("/home/dashboard");
        }
    }
}
