﻿@page "/identity/account/register"
@using Client.Pages.Otherpages
@layout AuthenticationLayout


<link rel="stylesheet" href="css/Login.razor.css">
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <EditForm Model="RegisterUser" OnValidSubmit="HandleRegister">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or Use Your Email For Registration</span>
            <DataAnnotationsValidator />
            <InputText @bind-Value="RegisterUser.FullName" placeholder="Name" class="form-control" />
            <InputText @bind-Value="RegisterUser.Email" placeholder="Email" class="form-control" />
            <InputText @bind-Value="RegisterUser.Password" placeholder="Password" type="password" class="form-control" />
            <InputText @bind-Value="RegisterUser.ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" />
            <ValidationSummary />
            <button type="submit">Sign Up</button>
        </EditForm>
    </div>
    
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">
                    <a class="btn-link" href="identity/account/login" style="text-decoration-color:white">Log In</a>
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    public Register RegisterUser { get; set; } = new Register();

    public bool showloadingbutton { get; set; } = false;

    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }


    public async Task HandleRegister()
    {
        showloadingbutton = true;
        var result = await accountService.CreateAsync(RegisterUser);
        if (result.Flag)
        {
            await DisplayDialog(result.Message, "Registration Success");
            NavManager.NavigateTo("/identity/account/login", forceLoad: true);
        }
        else
        {
            await DisplayDialog(result.Message, "Alert");
        }

        showloadingbutton = false;
    }

    private async Task DisplayDialog(string content, string title)
    {
        await DialogServices.AlertAsync(content, title);
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState!).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (isUserAuthenticated)
        {
            NavManager.NavigateTo("/home/dashboard");
        }
    }
}
