﻿@inherits LayoutComponentBase


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @Body
        </div>
    </div>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider />



<style>
    body{
        background: url('images/background/1.jpg') no-repeat center center fixed;
        background-size:cover;
    }
</style>