﻿@using Clients.Pages.Otherpages
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu></NavMenu>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <ProfileDropDown />

                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Syncfusion.Blazor.Popups.SfDialogProvider />


@code {

    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}